{% extends 'gemaBundle::layout.html.twig' %}

{% block gema_navbar_boletin %}active{% endblock %}
{% form_theme form 'gemaBundle:Form:theme.html.twig' %}


{% block gema_page -%}


    <h4 style="font-style: italic">Crear Boletin</h4>

        <fieldset style="background: #63BFE8;width: 50%;text-align: center;">
            <h4>Media</h4>
    <div class="form-group"> <input type="button" class="btn btn-file" value="Imagen(es) para la Portada" id="editarArchivos">
        <input type="button" class="btn btn-file" value="Imagen(es) para la Galería" id="editarArchivosg"></div>


            <table id="tabla" style="background:#63BFE8" class="table table-hover table table-striped  tablagen">
                <thead>
                <tr data-tabullet-map="id">
                    <th data-tabullet-map="video">Videos(url)</th>
                    <th width="50" data-tabullet-type="edit"></th>
                    <th width="50" data-tabullet-type="delete"></th>
                </tr>
                </thead>

            </table>
</fieldset>
    {{ form(form) }}

    <ul class="pager">
        <li class="next"><a href="{{path('boletin')}}"><i class="fa fa-list"></i>
                Listar Boletin
            </a></li>
    </ul>
{% endblock %}

{% block custom_javascripts %}
    <script src="{{ asset('bundles/gema/js/Tabullet.js') }}"></script>
    <script src="{{ asset('bundles/gema/js/TableToJson/jquery.tabletojson.js') }}"></script>
    <script src="{{ asset('bundles/gema/js/youtube.js') }}"></script>
    <script>

            var guid = '{{ guid }}';
            $('#gema_gemabundle_boletin_guid').attr('value', guid);
            $('#editarArchivos').click(function(){
                GetData('boletin',guid);
            });
            $('#editarArchivosg').click(function(){
                GetData('boletin',guid+"G");
            });
            Initializate('gema_gemabundle_boletin_youtube');


    </script>
{% endblock %}