    {% extends 'gemaBundle::layout.html.twig' %}
{% block gema_navbar_boletin %}active{% endblock %}
    {% block gema_page -%}
    <h2>Boletin</h2>

    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>                                                                <th>Titulo</th>
                                                                    <th>Introduccion</th>
                        
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>                                        
                        <td>{{ entity.titulo }}</td>
                                        
                        <td>{{ entity.introduccion }}</td>
                    
    <td><a href="{{ path('boletin_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ path('boletin_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ path('boletin_delete', { 'id': entity.id }) }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>


    <ul class="pager">
        <li class="next"><a href="{{path('boletin')}}"><i class="fa fa-list"></i>
                Listado de Boletin
            </a>
        </li>
    </ul>


    {% endblock %}
