<div class="row prob" style="text-align: center;border-top: 1px solid ">

    {#<div class="table-responsive" style="overflow: auto;" tabindex="0">#}
        {#<table class="record_properties table table-hover table table-striped table-vmiddle bootgrid-table">#}
            {#<tr>#}
                {% for d in distrib %}

                    <div class="col-md-2 org" style="display:inline-block;margin-left:20px ">
                        <p class="redventastextbold" style="float: left;margin-right: 21px;">  {{ d.nombre }} </p>{{ d.bandera|raw }}
                        <div>{{ d.datos|raw }}</div>
                        </div>

                    {#<td style="vertical-align: middle;width: 220px;border: 0px !important;">#}

                        {#<p class="redventastextbold" style="float: left;margin-right: 21px;">  {{ d.nombre }} </p>{{ d.bandera|raw }}#}
                       {#</td>#}




                        {#{{ d.datos|raw }}#}


                {% endfor %}
            {#</tr>#}
            {#<tr style="background: none">#}
                {#{% for d in distrib %}#}
                    {#<td style="background-color:transparent;border: 0px !important;">{{ d.datos|raw }}</td>#}
                {#{% endfor %}#}
            {#</tr>#}
        {#</table>#}
    {#</div>#}

</div>