    {% extends 'gemaBundle::layout.html.twig' %}

    {% block gema_page -%}
    <h2>Visita</h2>

    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>                                                                <th>Nombre</th>
                                                                    <th>Apellido</th>
                                                                    <th>Fecha</th>
                                                                    <th>Email</th>
                        
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>                                        
                        <td>{{ entity.nombre }}</td>
                                        
                        <td>{{ entity.apellido }}</td>
                                        
                        <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
                                        
                        <td>{{ entity.email }}</td>
                    
    <td><a href="{{ path('admin_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ path('admin_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ path('admin_delete', { 'id': entity.id }) }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>


    <ul class="pager">
        <li class="next"><a href="{{path('admin')}}"><i class="fa fa-list"></i>
                Listado de Visita
            </a>
        </li>
    </ul>


    {% endblock %}
