
    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_delete', { 'id': entity.id }) }}" }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

