    {% extends 'gemaBundle::layout.html.twig' %}
       {% block mycustomstylesheets %}

         <link href="{{ asset('bundles/gema/clientresources/vex/css/vex.css')}}" rel="stylesheet">
         <link href="{{ asset('bundles/gema/clientresources/vex/css/vex-theme-bottom-right-corner.css')}}" rel="stylesheet">
         <link href="{{ asset('bundles/gema/clientresources/vex/css/vex-theme-default.css')}}" rel="stylesheet">
         <link href="{{ asset('bundles/gema/clientresources/vex/css/vex-theme-os.css')}}" rel="stylesheet">
         <link href="{{ asset('bundles/gema/clientresources/vex/css/vex-theme-wireframe.css')}}" rel="stylesheet">
         <link href="{{ asset('bundles/gema/clientresources/vex/css/vex-theme-top.css')}}" rel="stylesheet">
         <style>

             .actualizartodos,.especifico{
                 background: #3288E6;
             }
         </style>
      {% endblock %}

    {% block gema_page -%}
    <h2>Listado de Catalogo</h2>
    {% if entities is empty %}
    <div class="bs-callout bs-callout-info">
        <i class="fa fa-info-circle img-responsive info_icon"></i>
        <h4>Aviso</h4>
        <p>No existen registros de activos en la base de datos.</p>
    </div>
    {% else %}

    <div class="table-responsive">
        <table class="record_properties table table-hover table table-striped table-vmiddle" id="data-table-command" data-ajax="true" data-url="{{path('catalogo')}}" >
            <thead>
                <tr>                                                                <th data-column-id="titulo">Titulo</th>
                                                                    <th data-column-id="fecha"  data-formatter="fecha">Fecha</th>
                        
                    <th colspan="3" data-formatter="commands">Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    {% endif %}

  <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Eliminar Registro</h4>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro que desea eliminar el registro definitivamente?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary eliminarRegistro">Aceptar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



            <ul class="pager">
            <li class="next"><a href="{{ path('catalogo_new') }}"><i class="fa fa-plus-circle"></i>
                    Nuevo Catalogo
                </a></li>
        </ul>
        {% endblock %}

    {% block javascripts -%}
    {{ parent() }}
           <script src="{{ asset('bundles/gema/clientresources/vex/js/vex.combined.js') }}"></script>
        <script> vex.defaultOptions.className = 'vex-theme-default'</script>
        <script src="{{ asset('bundles/gema/js/pdfgenerator.js')}}"></script>
      <script>
        $("#data-table-command").bootgrid({
            css: {
                icon: 'md icon',
                iconColumns: 'md-view-module',
                iconDown: 'md-expand-more',
                iconRefresh: 'md-refresh',
                iconUp: 'md-expand-less'
            },
            formatters: {
                "commands": function(column, row) {
                    return "<a href='#' title=\"Generar catalogo\" data-id='" + row.id + "'  class=\"btn btn-icon command-edit pdfgenerate\" ><span class=\"md md-print\"></span></a> "
                    + "<a href='" + Routing.generate('catalogohojas_byparent', {id: row.id}) + "' title=\"Hojas del catalogo\"  class=\"btn btn-icon command-edit\" ><span class=\"md md-tab\"></span></a> "
                    +"<a href='" + Routing.generate('catalogo_edit', {id: row.id}) + "'  class=\"btn btn-icon command-edit\" ><span class=\"md md-edit\"></span></a> " +"<a href='" + Routing.generate('catalogo_delete', {id: row.id}) + "' data-id=\'" + row.id + "\' class=\"btn btn-icon command-delete\" ><span class=\"md md-delete\"></span></a>";
                },
               "fecha": function(column, row) {
                    return "" + row.fecha.date.substring(0, 10);
                },
            }, templates: {
                loading: "<tr><td colspan='9' class=\"loading\"><div class='loading'><img src='{{ asset('bundles/gema/images/loading.gif') }}' class='img-responsive'></div></td></tr>"
            }
        }).on("loaded.rs.jquery.bootgrid", function (e)
        {

            $(".command-delete").on('click', function (evt) {
                evt.preventDefault();
                url = Routing.generate('catalogo_delete', {id: $(this).data('id')});
                $("#deleteModal").modal("show");
            });

            $(".eliminarRegistro").on("click", function (evt) {
                window.location = url;
            });

             $(".pdfgenerate").on("click", function (evt) { 

vex.defaultOptions.closeAllOnPopState=false;
 vex.dialog.alert({ unsafeMessage:'<div><span>Generando PDF espere</span></div>',
         className: 'vex-theme-wireframe' ,
        overlayClassName: 'success',
        contentClassName: 'bordernaranjaclass',
        closeClassName: ''     
          });     
            

        
                 
               var id =$(this).data('id');
               var url = Routing.generate('gema_unificadoscatalog');        

    $.ajax({
        type: 'POST',
        data: {id: id},
        url: url,
        success: function (data) {
            console.log(data);
            vex.closeAll();
            if (data[0] == 1) {
                try{
                   if(screen.width<=1200){
                       vex.dialog.alert({
                           //  unsafeMessage: '<div style="text-align: center"><b>URL directa</b><br><a target="_blank" href="'+data[1]+'">'+data[2]+'</a><br><b>Whatsapp</b><br><a target="_blank" href="https://api.whatsapp.com/send?text='+data[1]+'">'+data[2]+'</a></div>',
                           unsafeMessage: '<div style="text-align: center"><b>Seleccione el link de abajo para que se abra la imagen detalle del toro, luego mantenga presionada la imagen con el dedo hasta que salga la opción de "Guardar imagen"</b><br><a target="_blank" href="'+data[1]+'">'+data[2]+'</a></div>',
                           className: 'vex-theme-wireframe',
                           overlayClassName: 'success',
                           contentClassName: 'bordernaranjaclass',
                           closeClassName: 'closebleclass'
                       });
                   }
                   else
                    SaveToDisk(data[1],data[2]);
                }
                catch (e) {
                    vex.dialog.alert({
                      //  unsafeMessage: '<div style="text-align: center"><b>URL directa</b><br><a target="_blank" href="'+data[1]+'">'+data[2]+'</a><br><b>Whatsapp</b><br><a target="_blank" href="https://api.whatsapp.com/send?text='+data[1]+'">'+data[2]+'</a></div>',
                        unsafeMessage: '<div style="text-align: center"><b>Seleccione el link de abajo para que se abra la imagen detalle del toro, luego mantenga presionada la imagen con el dedo hasta que salga la opción de "Guardar imagen"</b><br><a target="_blank" href="'+data[1]+'">'+data[2]+'</a></div>',
                        className: 'vex-theme-wireframe',
                        overlayClassName: 'success',
                        contentClassName: 'bordernaranjaclass',
                        closeClassName: 'closebleclass'
                    });

                }



            } else {
                vex.dialog.alert({
                    unsafeMessage: '<b>Error generando PDF</b>',
                    className: 'vex-theme-wireframe',
                    overlayClassName: 'success',
                    contentClassName: 'bordernaranjaclass',
                    closeClassName: 'closebleclass'
                });
                console.log(data[1]);
            }

        },
        error: function (req, stat, err) {
            vex.closeAll();
            console.log(err);
        }
    });
              
            });

        });
    </script>
    {% endblock %}

