    {% extends 'gemaBundle::layout.html.twig' %}

    {% block gema_page -%}
    <h2>Calostrovideos</h2>

    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>                                                                <th>Titulo</th>
                                                                    <th>By</th>
                                                                    <th>Urlvideo</th>
                                                                    <th>Urlbackimg</th>
                                                                    <th>Urlminiatura</th>
                        
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>                                        
                        <td>{{ entity.titulo }}</td>
                                        
                        <td>{{ entity.videoby }}</td>
                                        
                        <td>{{ entity.urlvideo }}</td>
                                        
                        <td>{{ entity.urlbackimg }}</td>
                                        
                        <td>{{ entity.urlminiatura }}</td>
                    
    <td><a href="{{ path('calostrovideos_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ path('calostrovideos_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ path('calostrovideos_delete', { 'id': entity.id }) }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>


    <ul class="pager">
        <li class="next"><a href="{{path('calostrovideos')}}"><i class="fa fa-list"></i>
                Listado de Calostrovideos
            </a>
        </li>
    </ul>


    {% endblock %}
