<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un Toro</title>   
	  <link href="{{ absolute_url(asset('bundles/gema/clientresources/css/bootstrap.min.css'))}}" rel="stylesheet">
        <link href="{{absolute_url(asset('bundles/gema/clientresources/css/font-awesome.min.css'))}}" rel="stylesheet">
        <link href="{{ absolute_url(asset('bundles/gema/clientresources/css/style.css'))}}" rel="stylesheet">
        <link href="{{absolute_url(asset('bundles/gema/clientresources/css/myfonts.css'))}}" rel="stylesheet">
	<link href="{{ absolute_url(asset('bundles/gema/catalogresources/base64fonts.css'))}}" rel="stylesheet">
      <style type="text/css">  
	  body{
                    background: #f4f4f4 !important;
        }


     body {
        background-color: white !important;
        margin: 0;
        font-size: 12px;
        font-family: fagoNormal;
      /*  width: 724px;*/
        margin: auto;
    }    
    h1,
    h2,
    h3,
    h4,
    p,
    ul,
    li {
        padding: 0;
        margin: 0;
    }
    
    .total-container {
        position: relative;
        background-color: white !important;
       width: 724px;     
       max-width: 724px;
        margin: auto;
        padding-top: 0px;
        zoom:1.7 !important;          
        height: 965px;    
            
    }
    
    .inner-container {
        background-color: white;
        width: 100%;
      
        max-width: 690px;
        margin: auto;
        position: absolute;
            top: 5;
    right: 0;
    left: 0;
    }
    
    .header-container {
        z-index: 9;
        position: absolute;
        width: 100%;
        height: 112px;
        background: url({{absolute_url(asset('bundles/gema/catalogresources/img/header.png'))}}) no-repeat;
        background-size: 697px 112px;
        top:5px;
    }
    
    .flag {
        float: left;
    width: 19%;
    color: #fff;
    text-align: center;
    padding-top: 23px;
    padding-left: 83px;
    box-sizing: border-box;
    margin-left: -8px;
    }
    
    .flag h3 {
        font-size: 10px;
        font-family: fagoBoldItalic;
        padding-left: 0px;
    }
    
    .nuevo {
        float: right;
        color: #fff;
        background: #B21A16;
        font-size: 27px;
        line-height: 39px;
        padding: 0px 7px;
        width: 20%;
        text-align: center;
        font-family: fagoXBold;
        height: 35px;
    }
    
    .toro-name {
        padding-top: 35px;
        float: left;
        width:500px;
		margin-left: 15px;
    }
    
    .toro-name h1 {
        font-size: 30px;
        font-family: fagoXBoldItalic;
        color: white;
        line-height: 22px;
        padding-left: 30px;
    }
    
    .toro-name h4 {
        padding-left: 30px;
        font-size: 11px;
        font-style: italic;
        font-weight: normal;
        color: white;
        line-height: 18px;
    }
    
    .toro-name h2 {
        font-size: 12px;
        color: white;
        font-family: fagoMediumItalic;
        line-height: 24px;
        padding-top: 10px;
    }
    
    .toro-container {
        position: relative;
    }
    
    .toro-container .sello {
        position: absolute;
        bottom: 88px;
        right: 90px;
    }
    
    .toro-container .sperm {
        position: absolute;
        bottom: 88px;
        right: 10px;
    }
    
    .toro-container .toro {
        width: 100%;
        height: auto;
        display: block;
        padding-top: 96px;
        ;
    }
    
    .bottom-img-info {        
        background-image: url({{absolute_url(asset('bundles/gema/catalogresources/img/blue-line.png'))}});
        background-size: cover;
        padding: 10px 8px;
        font-size: 12px;
        font-family: fagoIta;
    }
    
    .bottom-img-info li {
        list-style-type: none;
        color: #ffffff;
        display: inline-block;
        padding-right: 15px;
    }
    
    .bottom-img-info li .bold {
        font-weight: bold;
    }
    
th{
	background-color:#B24E2A;
	text-align:center;
	color:#FFFFFF;
}
.table-bordered{
	margin-bottom:0 !important;
}
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td{
	border:1px solid #ddd;
}
td{
	background-color:#D0D4D5;
	text-align:center;
	padding:0;
}
.tabla-esp{
	margin:10px 0 0 25px;
	/*overflow:scroll;*/	
}
#encabezado-linea{
	padding:5px 0 5px 45px;
	background-color:#DEDEDE;
	color:#9B4F19;	
	margin-left:15px;
	margin-right:15px;
}
#tabla-infeior{
	width:90%;
	margin:0 auto;
	border:none;
	overflow:auto;
	margin-bottom:20px;
    font-size:20px !important;		
	    margin-top: 20px !important;
}
#tabla-infeior .table tr td{
	background-color:#D0D4D5 !important;
}
#tabla-infeior .table tr.alterna td{
	background-color:#E7E8EA !important;
}
#tabla-infeior .table tr td.downprom{
	background-color:#E69659 !important;
}
.celdaBlanco{
	background-color:#FFF;
}
.downprom{
	background-color:#E69659;
}
.encabezado-tabla{
	background: #9C5643;
    padding: 5px 0 5px 0;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;  
    margin: 0 auto;
    margin-top: 10px;
    float: right;
    margin-right: 0%;
	font-size:15px !important;
	width: 100%;
  
}
.ocultable{
  background: #9C5643;
  font-size:25px !important;
  height:30px !important;
}
    
    .clear {
        width: 1px;
        height: 1px;
        display: block;
        clear: both;
    }
    
    .texto-bottom {       
        margin: 3px;
         margin-top: -5px !important;
    }
    
    .texto-bottom p {
        width: calc(100% - 16px);
        display: inline-block;
        font-size: 9px;
    }
    
    .tec-info-container {
        width: 225px;
        display: inline-block;
        vertical-align: top;
    }
    
    .tec-info {
        padding-top: 5px;
        padding-bottom: 12px;
        padding-left: 17px;
        padding-right: 17px;
    }
    
    .center-info {
        color: #9A5643;
        background: url({{absolute_url(asset('bundles/gema/catalogresources/img/llave2.png'))}}) repeat-y left;
    }
    
    .top-info {
        background: url({{absolute_url(asset('bundles/gema/catalogresources/img/llave1.png'))}}) no-repeat center left;
    }
    
    .top-info p,
    .bottom-info p,
    .center-info p {
        padding-left: 11px;
        font-size: 10px;
        line-height: 15px;
    }
    
    .bottom-info {
        background: url({{absolute_url(asset('bundles/gema/catalogresources/img/llave3.png'))}}) no-repeat left bottom;
    }
    
    .bottom-info span {
        transform: rotate(180);
    }
    
    .triangle {
       width: 0;
    height: 0;
    border-width: 4px 0 4px 7px;
    border-color: transparent transparent transparent #9A5643;
    border-style: solid;
    /* float: left; */
    margin-top: 2px;
    padding-right: 5px;
    margin-left: -13px;
    position: absolute;
    }
    
    .toro-size {
        width: 187px;
        display: inline-block;
        color: #fff
    }
    
    .toro-size table {
        margin: 0;
        padding: 0;
        width: 100%;
        border: #9A5643 1px solid;
        color: #fff;
        border-spacing: 0;
    }
    
    .size-data-title {
        font-family: fagoBold;
        font-size: 10px;
    }
    
    .size-values {
        font-size: 11px;
        line-height: 19px;
    }
    
    .toro-size table tr:first-child td {
        font-size: 11px;
    }
    
    .toro-size-pic {
        width: 100%;
        height: 75px;
        background: url({{absolute_url(asset('bundles/gema/catalogresources/img/toro-size.jpg'))}}) no-repeat;
        position: relative;
    }
    
    .toro-size-pic div {
        position: absolute;
        font-size: 8px;
        color: #000;
    }
    
    #size1 {
        left: 0px;
        top: 35px;
    }
    
    #size2 {
        left: 17px;
        top: 7px;
    }
    
    #size3 {
        left: 19px;
        top: 60px;
    }
    
    #size4 {
        left: 76px;
        top: 3px;
    }
    
    #size5 {
        left: 143px;
        top: 29px;
    }
    
    .toro-size table tr:first-child td,
    .toro-size table tr:nth-child(3) td {
        background-color: #9A5643;
        padding: 0px;
        text-align: center;
    }
    
    .toro-size table tr:nth-child(3) td {
        padding-bottom: 0;
        padding-top: 2px;
    }
    
    .toro-size table .kg td {
        background-color: #9A5643;
        text-align: center;
        font-weight: lighter;
        font-size: 9px;
        line-height: 8px;
        padding-bottom: 2px;
    }
    
    .toro-size table tr:last-child td {
        background-color: #E7D8D1;
        color: #211915;
        text-align: center;
        padding-top: 2px;
        line-height: 17px;
        padding-bottom: 0;
    }
    
    .toro-size table td:nth-child(1),
    .toro-size table td:nth-child(3) {
        width: 20%;
    }
    
    .toro-size table td:nth-child(3),
    .toro-size table td:nth-child(4) {
        width: 30%;
    }
    
    .toro-size img {
        width: 100%;
        height: auto;
    }
    
    .toro-video {
        width: 39%;
        display: inline-block;
        vertical-align: top;
        padding-top: 55px;
    }
    
    .toro-video img {
        margin: auto;
        display: block;
    }
    
    .toro-video a {
        display: block;
    }
    
  
    
    .flag img {
 
        height: auto !important;
        padding-left: 23px !important;
            padding-bottom: 4px !important;
           width: 88% !important;
        

    }
    /* DOS TOROS */
    
    .dos-toros .header-container {
        width: 404px;
        background-size: 404px auto;
    }
    
    .dos-toros .nuevo {
        float: right;
        width: 128px;
        height: 24px;
        font-size: 20px;
        line-height: 27px;
        margin-right: 3px;
        margin-bottom: 18px;
    }
    
    .dos-toros .texto-bottom {
        font-size: 8px;
    }
    
    .top-container {
        width: 690px;
        position: relative;
    }
    
    .top-left-container {
        display: inline-block;
        width: 390px;
        height: 337px;
        vertical-align: top;
    }
    
  
    .table-bordered{
        width:100% !important;
    }
	 .toro-size-pic div{	 
	 font-size:10px !important;
	 }
	 .table-container{
	  zoom:0.4 !important;
	 }  


            </style>

       

</head>

<body>


    <div class="total-container" >

 

        <div class="inner-container">
    
            <div class="header-container">
                <div class="flag">                
                    <img src="{{absolute_url(asset(toro.nacionalidadflag))}}" alt="">
                    <h3>{{toro.raza.father.nombre}}</h3>
                </div>
                <div class="toro-name">               
                    <h1>{{toro.apodo}}</h1>
                    <H4>{{toro.nombre}}</H4>
                    <h2>{{toro.lineagenetica}}</h2>
                </div>
                {% if toro.nuevo %}
                <div class="nuevo">NUEVO</div>
                 {% endif %}
            </div>
            <div class="toro-container">
                <img class="sello" src="{{absolute_url(asset(toro.facilidadglag))}}" alt="">
                 {% if toro.cp %}
                 <img class="sperm" src="{{absolute_url(asset('bundles/gema/catalogresources/img/sperm.png'))}}" alt=""> 
                 {% endif %}           
                <img class="toro" src="{{absolute_url(asset(toro.foto))}}" alt="">
                <div class="bottom-img-info">
                    <ul>
                        <li><span class="bold">RP:&nbsp;</span>{{ toro.rp }}</li>
                        <li><span class="bold">HBA:&nbsp;</span>{{ toro.hba }}</li>
                        <li><span class="bold">Nació:&nbsp;</span>{{ toro.fechanacimiento|date('d-m-Y')  }}</li>
                        <li><span class="bold">Reg:&nbsp;</span>Definitivo</li>
                        <li><span class="bold">Criador:&nbsp;</span>{{ toro.criador }}</li>
                    </ul>
                </div>
            </div>
            <div class="table-container" style="">
                	  {% if tabla!=null  %}
		<div id="ultima-col" class="row">			

			
	
			<div id="tabla-infeior" class="tablainferior{{toro.id}}" style="width: 100% !important;">		
				<div class="table-responsive">
					<table id="torotable" class="table table-bordered">
						 <thead>
			<tr>
	  <th style="visibility:hidden;" class=""></th>

	  {% for t in tabla.tabladatos %}
	  
	   {% if loop.index==3 %}
	   <th class="ocultable" colspan="500">{{ toro.evaluaciongenetica }}</th>	  
			{% endif %}										
		  {% endfor %}

							</tr>

							<tr>
	  <th style="visibility:hidden;" class=""></th>

	  {% for t in tabla.tabladatos %}
	  
								<th>{{ t.nombre }}</th>
							
								
		  {% endfor %}

							</tr>
						</thead>
						<tbody>
						{% for dato in tablagenetica %}
							<tr class="{{ cycle(["alterna", ""], loop.index) }}">
								{% if loop.index == 1 %}		
                         <th scope="row" id="primetahead{{toro.id}}">{{ dato['rowhead'] }}</th>		
								{% else %}
									<th scope="row">{{ dato['rowhead'] }}</th>
								{% endif %}								
								{% for td in tabla.tabladatos %}
								           {% if  isNumber(dato[td.nombre])=='1' %}

									{%   if dato['rowhead']|lower =='ranking' and dato[td.nombre] | replace('%','')<=35 and td.nombre|lower !='gd' and td.nombre|lower !='gc' and td.nombre|lower !='egd' and td.nombre|lower !='egc' and td.nombre|lower !='altura' and td.nombre|lower !='alt.' and td.nombre|lower !='alt' and td.nombre|lower !='alt.hijas'  and td.nombre|lower !='alt.año'  and dato[td.nombre]!='-' %}
									<td class="downprom">{{ dato[td.nombre]|replace({' ':''})|round(2)~'%' }}</td>
                           {% else %}

                           {% if dato['rowhead']|lower =='ranking'%}
						       <td>{{ dato[td.nombre]|replace({' ':''})|round(2)~'%' }}</td>
									{% else %}
									        {% if dato['rowhead']|lower =='prec' and toro.raza.id==25%}
									           <td>{{ dato[td.nombre]|replace({' ':''})|round(2) }}%</td>
									        {% else %}
									    <td>{{ dato[td.nombre]|replace({' ':''})|round(2) }}</td>
									    {% endif %}
									{% endif %}

									{% endif %}
                                 {% else %}
	                           <td class="">{{ dato[td.nombre]|replace({' ':''}) }}</td>
                            {% endif %}
								{% endfor %}
							</tr>
							{% endfor %}

						</tbody>
					</table>

				</div>

			</div>
		<div id="comentarioresposive" style="display: none">
					<span style="color: #DA5F00;font-style: italic;font-family: Fago-normal">Desplace el dedo sobre la tabla para navegarla </span>
                       </div>
		</div>
	  {% endif %}
            </div>
            <div class="texto-bottom">
                <div class="triangle"></div>
                <p><strong>{{toro.apodo}}: </strong> {{toro.descripcion}}</p>
            </div>
            <div class="tec-info-container">
                <div class="tec-info">
                    <div class="top-info">
                        <p>{{ toro.padrepadrepadre }}</p>
                    </div>
                    <div class="center-info">
                        <p>{{ toro.padre }}</p>
                    </div>
                    <div class="bottom-info">
                        <p>{{ toro.madrepadre }}</p>
                    </div>
                </div>
                <div class="tec-info">
                    <div class="top-info">
                        <p>{{ toro.padremadre }}</p>
                    </div>
                    <div class="center-info">
                        <p>{{ toro.madre }}</p>
                    </div>
                    <div class="bottom-info">
                        <p>{{ toro.madremadre }}</p>
                    </div>
                </div>
            </div>
            <div class="toro-size">
                <table>
                    <tr>
                        <td colspan="4" class="toro-size-title">Medidas Corporales</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="toro-size-pic">
                            <div id="size1">{{ toro.altogrupa }}</div>
                            <div id="size2">{{ toro.anchogrupa }}</div>
                            <div id="size3">{{ toro.circunferenciaescrotal }}</div>
                            <div id="size4">{{ toro.largogrupa }}</div>
                            <div id="size5">{{ toro.largocorporal }}</div>

                        </td>
                    </tr>
                    <tr class="size-data-title">
                        <td>PN</td>
                        <td>PD</td>
                        <td>P18M</td>
                        <td>P Colecta</td>
                    </tr>
                    <tr class="kg">
                        <td>(kg)</td>
                        <td>(kg)</td>
                        <td>(kg)</td>
                        <td>(kg)</td>
                    </tr>
                    <tr class="size-values">
                        <td>{{ toro.pn1 }}</td>
                        <td>{{ toro.p205d }}</td>
                        <td>{{ toro.p550d }}</td>
                        <td>{{ toro.peso }}</td>
                    </tr>
                </table>
            </div>
            <div class="toro-video">
                <a href="{{toro.video}}"><img src="{{absolute_url(asset('bundles/gema/catalogresources/img/btn-video.png'))}}" alt="Mira el Video"></a>
            </div>
			
  </div>
           
  
     </div>
             <script>
			 var toroid = {{toro.id}};	
 window.onload = new function() {
  var newwidth = (document.getElementById('dynamictextwith'+toroid.toString()).clientWidth / 1.333333)
 - (document.getElementById('primetahead'+toroid.toString()).clientWidth / 1.333333)+208 ;
  var nattr="width:"+newwidth.toString()+"pt !important";
			document.getElementById('dynamictextwith'+toroid.toString()).setAttribute("style",nattr);          
	        document.getElementById('dynamictextwith'+toroid.toString()).innerHTML = nattr;
}		 						   
			 </script>
  
</body>





</html>

      <div class="pagebreak">
      </div>