    {% extends 'gemaBundle::layout.html.twig' %}

    {% block gema_page -%}
    <h2>Catalogohojas</h2>

    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>                                                                <th>Numero</th>
                                                                    <th>Tipo</th>
                                                                    <th>Guid</th>
                        
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>                                        
                        <td>{{ entity.numero }}</td>
                                        
                        <td>{{ entity.tipo }}</td>
                                        
                        <td>{{ entity.guid }}</td>
                    
    <td><a href="{{ path('catalogohojas_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ path('catalogohojas_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ path('catalogohojas_delete', { 'id': entity.id }) }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>


    <ul class="pager">
        <li class="next"><a href="{{path('catalogohojas')}}"><i class="fa fa-list"></i>
                Listado de Catalogohojas
            </a>
        </li>
    </ul>


    {% endblock %}
