{% extends 'gemaBundle::layout.html.twig' %}



    {% block gema_page -%}

        <style>



            table.sorting-table {cursor: move;}
            table tr.sorting-row td {background-color: #8b8;}
            .sorter {background-color: #c4ffe9; width: 10px; cursor: move;}
        </style>

        <link href="{{ asset('bundles/js/bootstrap3editable/css/bootstrap-editable.css')}}" rel="stylesheet">



            <ul class="pager">

             <h2>{{ mapa }} </h2>
             <h3>{{ info|raw }} </h3>
            </ul>
            <div class="table-responsive">
                <table class="record_properties table table-hover table table-striped table-vmiddle" id="data-table-command" >
                    <thead>
                    <tr>
                        <th data-formatter="sorteador"></th>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false">ID</th>
                        <th   data-column-id="nombre" data-visible="false">NombreInterno</th>
                        <th   data-column-id="posicion" data-visible="false">Posicion</th>
                        <th  data-column-id="comentario" data-formatter="comentario" title="Nombre a Mostrar en Excel">Nombre</th>
                        {#<th data-formatter="commands" >Acciones</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for md in mapadatos %}
                        <tr>
                            <td class="sorter"></td>
                            <td>{{ md.id }} </td>
                            <td> </td>
                            <td>{{ md.posinexcel }} </td>
                            <td>{{ md.comentario }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>




        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Editar Registro</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title">Esta seguro que desea editar el registro?</h4>
                    </div>
                    <div style="text-align: center">
                        <label class="label-control">Nombre</label><br>
                        <input style="width: 50%;text-align: center" class="" type="text" id="comentariocontainer" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary eliminarRegistro">Aceptar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    {% endblock %}

    {% block javascripts -%}
        {{ parent() }}

        <script src="{{ asset('bundles/gema/js/rowsorter.js') }}"></script>
        <script src="{{ asset('bundles/gema/js/TableToJson/jquery.tabletojson.js') }}"></script>
        <script>

            $("#data-table-command").bootgrid({
                css: {
                    icon: 'md icon',
                    iconColumns: 'md-view-module',
                    iconDown: 'md-expand-more',
                    iconRefresh: 'md-refresh',
                    iconUp: 'md-expand-less'
                },
                rowCount:[200,100,25],
                formatters: {
                   "sorteador":function(column, row) {
                        return '<span class="sorterhh"></span>';
                    },
                    "commands": function(column, row) {
                        return "<a href='#' data-id=\'" + row.id + "\' data-nombre=\'" + row.comentario + "\'  class=\"btn btn-icon command-edit\" ><span class=\"md md-edit\"></span></a> ";

                    },"comentario": function(column, row) {

                        return '<a title="" data-original-title="" class="editable editable-click editableNombre" href="#" data-type="text" data-pk="'+row.id+'"  data-title="Entre el nombre" data-placeholder="Requerido">'+row.comentario+'</a>';
                    }




                }, templates: {
                    loading: "<tr><td colspan='9' class=\"loading\"><div class='loading'><img src='{{ asset('bundles/gema/images/loading.gif') }}' class='img-responsive'></div></td></tr>"
                }
            }).on("loaded.rs.jquery.bootgrid", function (e)
            {
//                $(".command-edit").on('click', function (evt) {
//                    evt.preventDefault();
//                    id=$(this).data('id');
//                    nombre=$(this).data('nombre');
//                    $('#comentariocontainer').val(nombre);
//                    url = Routing.generate('admin_mapadatos_edit', {id: id,nombre:nombre});
//                    $("#editModal").modal("show");
//                });

//                $(".eliminarRegistro").on("click", function (evt) {
//
//
//                            $.ajax({
//                                type: 'POST',//
//                                url: url,
//                                success: function (data) {
//                                    $('#data-table-command').find('tr').each(function(){
//                                       var at=$(this).attr('data-row-id');
//                                        var tr=$(this);
//                                       if(at==data[1]){
//                                          var td= tr.find('td')[1];
//                                           td.innerHTML=data[2];
//                                         //  $("#deleteModal").modal('close');
//                                       }
//
//                                    });
//
//
//                                },
//                                error: function (req, stat, err) {
//                                    alert('error');
//                                    console.log(err);
//
//                                }
//                            });
//                });

                $('.sorterhh').each(function(){
                    $(this).closest('td').addClass('sorter');
                })

//                var timeout = null;
//                $('#comentariocontainer').keyup(function(){
//                    clearTimeout(timeout);
//                    if($('#comentariocontainer').val()!=null && $('#comentariocontainer').val()!=''){
//
//                        timeout = setTimeout(function (e) {
//
//                            url = Routing.generate('admin_mapadatos_edit', {id: id,nombre: $('#comentariocontainer').val()});
//
//                        }, 500);
//
//
//
//                    }
//
//                });





                $('.editableNombre').editable({
                    url: Routing.generate('admin_mapadatos_edit'),
                    type: 'text',
                    name: 'Nombre',
                    title: 'Entre el Nombre',
                    //  step: 'any',
                    inputclass: 'input',
                    validate: function (value) {
                        if ($.trim(value) == '') return 'Este valor es requerido';
                    },
                    ajaxOptions: {
                        dataType: 'json'
                    },
                    success: function (response, newValue) {
                        console.log(response);
                        if (!response) {
                            console.log(response);
                            return "Unknown error!";
                        }

                        if (response === 'error') {
                            return 'Ha ocurrido un error mientras se guardaban los datos.';
                        }
                    },
                    error: function (response, newValue) {
                        if (response.status === 500) {
                            return 'Error de red. Intente mas tarde.';
                        } else {
                            return response.responseText;
                        }
                    }
                });


            });





        </script>



        <script>
            $(document).ready(function(){
                new RowSorter('#data-table-command',{

                            onDrop: function(tbody, row, new_index, old_index) {

                                var mapaid='{{mapaid}}';
                                var table = tbody.tagName === "TBODY" ? tbody.parentNode : tbody;


                                var arr = $('#'+table.id).tableToJSON({ignoreHiddenRows: false});
                                var arrfin=[];
                                for(var i=0;i<arr.length;i++){
                                    arrfin.push([i,arr[i].Nombre]);
//
                                }
                                $.ajax({
                                    url: Routing.generate('gema_reordermapa'),
                                    type: 'POST',
                                    data: { value: arrfin,mapaid:mapaid },
                                    success: function(result) {

                                    },
                                    error:function(){
                                        $.rowSorter.undo('#'+table.id);
                                    }
                                });

                            }

                        }


                );
            });
        </script>

        <script src="{{ asset('bundles/gema/js/bootstrap3editable/js/bootstrap-editable.min.js') }}"></script>

    {% endblock %}

