    {% extends 'gemaBundle::layout.html.twig' %}

    {% block gema_page -%}
    <h2>MediaDescription</h2>

    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>                                                                <th>Folder</th>
                                                                    <th>Subforlder</th>
                                                                    <th>Descripcion</th>
                        
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>                                        
                        <td>{{ entity.folder }}</td>
                                        
                        <td>{{ entity.subforlder }}</td>
                                        
                        <td>{{ entity.descripcion }}</td>
                    
    <td><a href="{{ path('admin_mediadescription_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ path('admin_mediadescription_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ path('admin_mediadescription_delete', { 'id': entity.id }) }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>


    <ul class="pager">
        <li class="next"><a href="{{path('admin_mediadescription')}}"><i class="fa fa-list"></i>
                Listado de MediaDescription
            </a>
        </li>
    </ul>


    {% endblock %}
