    {% extends 'gemaBundle::layout.html.twig' %}

    {% block gema_page -%}
    <h2>Remate</h2>

    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>                                                                <th>Nombre</th>
                                                                    <th>Localidad</th>
                                                                    <th>Provincia</th>
                                                                    <th>Sitioweb</th>
                                                                    <th>Linksitioweb</th>
                                                                    <th>Contacto</th>
                                                                    <th>Linkflyer</th>
                                                                    <th>Linkcatalogo</th>
                                                                    <th>Fecha</th>
                                                                    <th>Guid</th>
                        
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>                                        
                        <td>{{ entity.nombre }}</td>
                                        
                        <td>{{ entity.localidad }}</td>
                                        
                        <td>{{ entity.provincia }}</td>
                                        
                        <td>{{ entity.sitioweb }}</td>
                                        
                        <td>{{ entity.linksitioweb }}</td>
                                        
                        <td>{{ entity.contacto }}</td>
                                        
                        <td>{{ entity.linkflyer }}</td>
                                        
                        <td>{{ entity.linkcatalogo }}</td>
                                        
                        <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
                                        
                        <td>{{ entity.guid }}</td>
                    
    <td><a href="{{ path('remate_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ path('remate_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ path('remate_delete', { 'id': entity.id }) }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>


    <ul class="pager">
        <li class="next"><a href="{{path('remate')}}"><i class="fa fa-list"></i>
                Listado de Remate
            </a>
        </li>
    </ul>


    {% endblock %}
