{% extends 'gemaBundle::clientlayout.html.twig' %}

  {% block customstylesheets %}

      <link href="{{ asset('bundles/gema/clientresources/cpnew/cpnew.css')}}" rel="stylesheet">
      <style>
          @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
          @import "https://fonts.googleapis.com/css?family=Roboto:400,500";

          .cptitle{

    margin-top: 20px !important;
}

          .title1{
              font-weight: 700;
              color: #143c89;
              font-family: "";
          }

          .segdiv{

              width: 67%;
              margin: 0 auto;
          }
          .video{
              padding-bottom: 3%;
              padding-top: 3%;
          }

          .terc{
              background: #e9503c linear-gradient(0deg, #ffbc79 0, #e9503c 100%);
              margin-top: -1%;
              font-family: 'PT Sans',sans-serif;
              color: #fff;
              font-size: 19px;
              text-align: center;
          }
.post-container {
    margin: 20px 20px 0 0;

}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {



    text-align: center;

}
.post-title {
    font-weight: bold;
    margin-left: 4%;
    text-align: left;

}

.categotitle:before{
    content: "";

    position: absolute;

    width: 123px;



    left: 51%;

    margin-left: -70px;

    height: 1px;

    background: #ebebeb;

    bottom: -7px;


}



          .box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #f5f5f5; vertical-align: middle; }
.box > .icon:hover > .image {
/*
    background: #333; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transform:rotate(360deg) scale(1.5); -moz-transform:rotate(360deg) scale(1.5); -o-transform:rotate(360deg) scale(1.5); -ms-transform:rotate(360deg) scale(1.5); transform:rotate(360deg) scale(1.5);
*/
}
.box > .icon > .image > i { font-size: 36px !important; color: #f04436 !important; }

.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }

.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #ffffff; }
.box .space { height: 30px; }

          @media (max-width: 800px) {
              .imagelist{
                  width: 80%;
                  height: 80%;
              }

              iframe{
                  width: 96%;
                  height: 96%;
              }
              .image{
                  background: none !important;
                  border: 0 !important;
              }
          }

.imagelist{
    width: -webkit-fill-available;
}

          .imagelist{
              width:-moz-fit-content;
          }
          .imageresponsiveselect{
              width: 266px;
              height: 209px;
          }

.apodo{
    color: #6c5454;

    font-family: 'Fago-bold' !important;
}

          .directbtn{

              padding: .5rem 1rem;
               background: #e9503c;
              line-height: 1.5;
              border-color: transparent;
              float: right;
              border-radius: .3rem;
          }

          @media only screen and (max-width: 800px) {
              .terc p{
                  padding: 13px !important;
              }

          }

          @media only screen and (max-width: 800px) {
              .torol {
                 text-align: center !important;
              }
              .card{
                  padding: 11px !important;
              }
          }


      </style>
  {% endblock %}

  {% block content %}
<div class="row">

      <div class="col-12 col-sm-8 text-left cptitle"><h1 style="font-family: Fago-Normal"  class="title1">Concept Plus</h1></div>
      <div class="col-12 col-sm-4 text-left cptitle"><h1  class="title1">
              <a  class="btn btn-lg btn-primary directbtn" style="font-family: Fago-Normal" href="http://conceptplus.altagenetics.com.br" target="_blank"> Directo al Sistema </a>
          </h1></div>
      <br>  <br>  <br>  <br>  <br>  <br>

      <div class="col-md-12 primdiv" style="background-size: cover !important;background-position: center !important;background-image:url( {{'https://'~servername~'/'~asset(redimg)|replace('\\','/') }} )  ">
          <div class="col py-2 segdiv ">
              <div class="video"><iframe width="690" height="388" src="https://www.youtube.com/embed/tvlRPZ88_jM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
      </div>

      <div class="col-md-12 terc">
          <br>
          <p>
              Programa exclusivo de fertilidad de semen de CIALE Alta, que identifica con precisión toros con mejores tasas de concepción a partir del análisis detallado de informaciones de preñez a campo.
          </p>
      <p>
              El programa presenta respuestas concretas sobre la variación en la concepción de los toros a campo que no son explicadas por análisis de laboratorio, terminando con las especulaciones que son cultivadas en el mercado de la Inseminación Artificial.
      </p>
          <p>
              El análisis bioestadístico de Concept Plus es único y altamente eficiente porque trabaja excluyendo otros factores que influyen en la fertilidad a campo aislando la contribución del toro sobre la tasa de concepción. Actualmente, la cantidad de información recibida anualmente lo transforma en un programa extremadamente robusto, aumentando al máximo la precisión de las informaciones generadas y la exactitud de los toros identificados como superiores.
          </p>
          <p>
              Los resultados son de alta confiabilidad y fácilmente percibidos a campo
          </p>
          <br>
      </div>

    <br>  <br>

    <div class="row">

        <div class="col-md-12" style="text-align: center;margin: 0 auto">
            <h2 class="ventajas categotitle">Ventajas</h2>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img src="{{ asset(imagelist) }}" class="imagelist" style="width: 100%">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="post-container" >
                    <div class="box  col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="icon">
                            <div class="image"><i class="fa fa-check"></i></div>
                        </div>

                    </div>
                    <div class="post-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3 class="post-title">Participación en el Workshop Concept Plus</h3>
                        <p>Evento anual de reproducción. Para ser invitado el colaborador necesita enviar al menos 500 datos de IATF </p>
                    </div>
                 </div>

            </div>
            <div class="row">
                <div class="post-container" >
                    <div class="box  col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="icon">
                            <div class="image"><i class="fa fa-check"></i></div>
                        </div>

                    </div>
                    <div class="post-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3 class="post-title">Información Privilegiada</h3>
                        <p>Los colaboradores del programa reciben el reporte complete de la base de datos y tienen la información de los nuevos toros Concept Plus 30 días antes que el mercado. </p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="post-container" >
                    <div class="box  col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="icon">
                            <div class="image"><i class="fa fa-check"></i></div>
                        </div>

                    </div>
                    <div class="post-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3 class="post-title">CIALE Alta  IATF</h3>
                        <p>Plataforma insertada en el sitio de CIALE Alta que tiene como objetivo promocionar a los profesionales especializados en reproducción para que los visitantes puedan contratar sus servicios de IATF. </p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="post-container" >
                    <div class="box  col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="icon">
                            <div class="image"><i class="fa fa-check"></i></div>
                        </div>

                    </div>
                    <div class="post-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3 class="post-title">Ensayos Concept Plus</h3>
                        <p>Invitación para realizar los ensayos donde se prueba de fertilidad de los toros jóvenes.</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="post-container" >
                    <div class="box  col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="icon">
                            <div class="image"><i class="fa fa-check"></i></div>
                        </div>

                    </div>
                    <div class="post-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3 class="post-title"> Plataforma Web</h3>
                        <p>Acceso exclusivo a un sito web donde cada colaborador podrá almacenar y visualizar los datos reportados y hacer comparaciones con el resto del mercado.</p>
                    </div>
                </div>

            </div>

            </div>
        </div>
    <br>

    <div class="col-md-12" style="text-align: center;margin: 0 auto">
        <h2 class="ventajas categotitle">TOROS CONCEPT PLUS</h2>
    </div>
      <br>
    <div class="row" style="padding: 20px">

        {% for toro in toros %}

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 torol" style="text-align: left; margin-top: 20px">
                <a href="{{ path('gema_torodetail', {'apodo':toro.apodo}) }}" target="_blank">
                    <span class="apodo">{{ toro.apodo }}</span>
                </a><br>

                <a href="{{ path('gema_torodetail', {'apodo':toro.apodo}) }}" target="_blank">
                    <img class="toroimg imageresponsiveselect"  src="{{ asset(toro.imgprincipal) }}">
                </a>

            </div>



        {% endfor %}

    </div>

    <div class="col-md-12" style="text-align: center;margin: 0 auto">
        <h2 class="ventajas categotitle">Encuentre un colaborador</h2>
    </div>
    <br>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8" style="text-align: center;margin: 0 auto">

                <div class="btn-toolbar demoPadder" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group" style="float: none !important;">
                        <button type="button" class="btn btn-default btncolab" data-lugar="todos">Todos</button>

            {% for lugar in lugares %}
                <button type="button" class="btn btn-default btncolab" data-lugar="{{ lugar}}">{{ lugar }}</button>

            {% endfor %}
                    </div>
                </div>
            </div>



        </div>

    <br><br>

    <div class="row">

        {% for colaborador in colaboradores %}
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4 cards" data-lugar="{{ colaborador.ubicacion }}">
            <div class="card">
                <img class="card-img-top" src="{{ asset(colaborador.image) }}">
                <div class="card-block">
                    <h4 class="card-title">{{ colaborador.nombre }}</h4>
                    <div class="meta">
                        <h4 class="card-title">{{ colaborador.ubicacion }}</h4>
                    </div>
                    <div class="card-text">
                      {{ colaborador.datos }}
                    </div>
                </div>
                <div class="card-footer">
                    {#<span class="float-right">Joined in 2013</span>#}
                    {#<span><i class=""></i>75 Friends</span>#}
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

    <br><br>
    <div class="col-md-12" style="text-align: center;margin: 0 auto">
        <h2 class="ventajas categotitle">Como ser un colaborador</h2>
    </div>
    <br>
    <div class="col-md-12 primdiv" style="background-size: cover !important;background-position: center !important;background-image:url( {{'https://'~servername~'/'~asset(redimg)|replace('\\','/') }} )  ">
        <div class="col py-2 segdiv ">
            <div class="video"><iframe width="690" height="388" src="https://www.youtube.com/embed/cTqrc-j13L8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
    </div>


    <div class="col-md-12" style="text-align: center;margin: 0 auto">
        <h2 class="ventajas categotitle">Dudas</h2>
    </div>
    <br>

    <div class="col-md-12" style="text-align: center;margin: 0 auto">
       {{ dudas.html|raw }}
    </div>
    <br>


</div>
  {% endblock %}


  {% block custom_javascripts %}

      <script>
          $('.btncolab').click(function () {
              var data=$(this).attr('data-lugar');
             if(data=='todos')
             {
                 $('.cards').show();
             }
             else{

                 $('.cards').hide();
                 console.log('.cards[data-lugar="'+data+'"]');
                 $('.cards[data-lugar="'+data+'"]').show();
             }

          });

      </script>


  {% endblock %}