{% extends 'gemaBundle::clientlayout.html.twig' %}

  {% block customstylesheets %}
      <link href="{{ asset('bundles/gema/clientresources/css/singlenoticia.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/fancybox/dist/jquery.fancybox.min.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/jquerybxslider/jquery.bxslider.css')}}" rel="stylesheet">


 {% endblock %}

  {% block content %}
<div class="row">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div style="text-align: center" class="fb-like" data-href="{{ app.request.uri }}"
         data-layout="button_count"
         data-action="like" data-size="small" data-show-faces="true" data-share="true">

    </div>


    <div class="col-md-12" style="text-align: center;margin: 0 auto">
        {% if isboletin is defined %}
        {{ noticia.fechaboletin|date('d-M-Y') }}
            {% else %}
                {{ noticia.fechanoticia|date('d-M-Y') }}
        {% endif %}
        <div><p class="titulo">{{ noticia.titulo }}</p></div>
       <div class="col-md-12" style="text-align: center"> {{ noticia.introduccion|raw }}</div><br>
    <img class="portadaimg"   style="max-width: 80%" src="{{ asset(noticia.portada) }}" alt="Img"><br>

        <div>
            {{ noticia.cuerpo|raw }}
        </div>
        <div>
            <div class="row" style="padding:15px 20px;">
                <div class="row" style="padding:15px 20px;">
                    {%   if mediainpage|length >0 %}
                        <ul class="bxslider">

                            {% for media in mediainpage %}
                                <li>
                                    <div class="row" style="margin: 0 auto">
                                        {% for dato in media %}

                                            <div class="col-xs-4 col-sm-1" style="padding: 1px">
                                                <a href="{{ asset(dato.url|replace({'_small':''})) }}" data-fancybox="gallery">
                                                    <img style="width: 100px;height: 100px"  src="{{ asset(dato.rep) }}" class="img-responsive thumbnail"/>
                                                </a>
                                            </div>


                                        {% endfor %}
                                    </div>
                                </li>



                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>




{% endblock %}

    {% block custom_javascripts %}
        {#<script src="{{ asset('bundles/gema/clientresources/responsiveimg/js/responsiveImg.js')}}"></script>#}
        <script src="{{ asset('bundles/gema/clientresources/fancybox/dist/jquery.fancybox.min.js')}}"></script>
        <script src="{{ asset('bundles/gema/clientresources/jquerybxslider/jquery.bxslider.min.js')}}"></script>
<script>
    var getUrl = window.location;
    var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
    var urlphp=baseUrl+'/web/js/responsiveImg.js.php';


    $('.bxslider').bxSlider(
            {
                adaptiveHeight: true
            }
    );
</script>

	{% endblock %}