


    {% extends 'gemaBundle::pdflayout.html.twig' %}


  {% block customstylesheets %}
	  <link href="{{absolute_url(asset('bundles/gema/clientresources/fancybox/dist/jquery.fancybox.css'))}}" rel="stylesheet">
	  <link href="{{absolute_url(asset('bundles/gema/clientresources/jquerybxslider/jquery.bxslider.css'))}}" rel="stylesheet">
	  <link href="{{absolute_url(asset('bundles/gema/clientresources/watermark/styleimg.css'))}}" rel="stylesheet">
	  <link href="{{absolute_url(asset('bundles/gema/clientresources/css/listtoro.css'))}}" rel="stylesheet">

	  <style>


		  .container {
			  position: relative;
			  text-align: center;
			  color: white;
		  }

		  .menuitem{
			  font-size: 29px;
			  color:#008CFF;
			  font-family: 'Fago-normal';
		  }

		  .primd{
   margin-left: 20% !important;
		  }


		  .page {
			  overflow: hidden;
			  page-break-after: always;
		  }

	  </style>
	  {% endblock %}




  {% block content %}




      {#<div class="page">#}

      {#</div>#}
	  <div class="container">


		 <div style="text-align: left;margin-top: 25px !important;"> <h1 style="/*! color: red; */font-family: 'Fago-Bold';color: #133B96;font-size: 54px; margin-left: 10% !important;"> Lista de Precios </h1></div>

		  <div style="margin-top: 7%;">
		 {{ texto |raw }}
			  </div>

	  </div>

  {% endblock %}
