{% extends 'gemaBundle::clientlayout.html.twig' %}

  {% block customstylesheets %}
      <link href="{{ asset('bundles/gema/clientresources/css/noticias.css')}}" rel="stylesheet">
      <style>

          body{
              /*padding:25px;*/
          }

          input:focus{
              outline: none;
          }

          @media (max-width: 800px) {
              #formdiv > form{
                  width: 95% !important;
              }


          }

          #formdiv > form{
              width: 70%;
              margin-left:auto;
              margin-right:auto;
              padding:50px;
              background:whitesmoke;
              border-radius:5px;
              position:relative;
              font-family: 'Libre Franklin', sans-serif;
          }

          #formdiv > form > div {
              float:left;margin-bottom:30px;
          }
          #formdiv > form > div > p{
              font-size: 16px;margin-bottom: 3px;
          }
          #formdiv > form > div > input{
              font-size:16px;letter-spacing:1px;padding:  5px;border: 0;background:  whitesmoke;border-bottom: 1px solid silver;width: 100%;color: gray;
          }

           #formdiv > form > div > select{
              font-size:16px;letter-spacing:1px;padding:  5px;border: 0;background:  whitesmoke;border-bottom: 1px solid silver;width: 100%;color: gray;
          }
            #formdiv > form > div > option{
              font-size:16px;letter-spacing:1px;padding:  5px;border: 0;background:  whitesmoke;border-bottom: 1px solid silver;width: 100%;color: gray;
          }

          #formdiv > form > p:last-of-type{
              text-align: center;padding-top: 50px;display:  table;width: 100%;color:white;
          }

          #formdiv > form > p:last-of-type > a{
              cursor:pointer;border:0;
              padding: 10px 25px;
              background:  silver;
              border-radius:  28px;
              font-size: 16px;
          }
          #formdiv > form > p:last-of-type > button{
              cursor:pointer;border:0;
              padding: 10px 25px;
              background:  silver;
              border-radius:  28px;
              font-size: 16px;
          }

          .term{
              padding-top:40px;display: flex;width:  100%;align-items:  center;
          }

          .term > i{
              cursor:pointer;width:20px;
          }

          .term > span{
              font-size:18px;
          }

          /* delete */
          #formdiv > form > a:last-of-type{
              position:absolute;
              bottom: 10px;
              right: 15px;
              font-size:  10px;
              letter-spacing:  1px;
              font-style: italic;
          }

          @media only screen and (max-width: 400px) {
             #formdiv > form > p:last-of-type > button{
               font-size: 12px !important;
             }
              #formdiv > form > p:last-of-type > a{
                font-size: 12px !important;
              }
               #formdiv > form > div > option{
                font-size: 12px !important;
               }
                #formdiv > form > div > select{
                font-size: 12px !important;
               }
                         #formdiv > form > div > input{
                         font-size: 12px !important;
                         }

                          #formdiv > form > div > p{
                         font-size: 12px !important;
                         }

                         .contenedor{
                         text-align: left;
                         width: 81%;
                         margin-left: 9%;
                         }

    }

        select {
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd !important;
    -webkit-appearance: none;
    background-position-x: 244px;
}
  .imglist{
       width: 99% !important;
    }
      </style>
  {% endblock %}


  {% block content %}

      <br>

  <div class="imgcab">
  <img class="imglist" src="{{asset(imgpostulacion) }}">
  </div>
      <div style="text-align: center;" class="contenedor">
          <h4 class="noticiastitle" style="font-size: 24px">{{ oferta.titulo }}</h4>
          <span class="resumenot"><strong>{{ oferta.area }}</strong></span><br>
          <span class="resumenot">{{ oferta.descripcion }}</span>
      </div>
      <br>
      <div id="formdiv" style="display:flex;width:100%;">
          <form id="" enctype="multipart/form-data" action="{{ path('gema_ofertapostulacionpost') }}" method="post">
              <div style="width:100%;">
                  <p>NOMBRE</p>
                  <input name="name" required autofocus>
              </div>
              <div style="width:100%;">
                  <p>APELLIDO</p>
                  <input required name="apellido">
              </div>

              <div style="width:47%;">
                  <p>EMAIL</p>
                  <input type="email" required name="email">
              </div>
              <div style="width:47%;margin-left:6%">
              <p>TELÉFONO</p>
              <input required name="phone">
              </div>


             <div style="width:47%">
              <p>Nacionalidad</p>
              <input required name="nacionalidad">
              </div>

               <div style="width:47%;margin-left:6%">
              <p>Provincia</p>
              <input required name="provincia">
              </div>

              <div style="width:47%">
              <p>Localidad</p>
              <input required name="localidad">
              </div>

               <div style="width:47%;margin-left:6%">
              <p>Fecha/Nacimiento</p>
              <input type="date" required name="fechanacimiento">
              </div>

              <div style="width:47%">
               <p>Sexo</p>
              <select required name="sexo">
               <option value="M">Masculino</option>
               <option value="M">Femenino</option>
              </select>
              </div>

                <div style="width:47%;margin-left:6%">
               <p>Estado/Civil</p>
              <select required name="estadocivil">
               <option value="soltero">Soltero</option>
               <option value="casado">Casado</option>
              </select>
              </div>

              <div style="width:47%">
               <p>Hijos</p>
              <select required name="hijos">
               <option value="si">Si</option>
               <option value="no">No</option>
              </select>
              </div>

                <div style="width:100%">
               <p>Actividad</p>
              <select required name="actividad">
               {% for actividad in actividades %}
                <option value="{{ actividad.id }}">{{ actividad.titulo }}</option>
               {% endfor %}
              </select>
              </div>

              <div style="width:100%">
               <p>Aerea en la que le gustaría desempeñarse</p>
              <select required name="area">
               {% for area in areas %}
                <option value="{{ area.id }}">{{ area.titulo }}</option>
               {% endfor %}
              </select>
              </div>

               <div style="width:100%;">
                  <p>Trabajo actual o anterior</p>
                  <input required name="trabajo">
              </div>


              <div style="width:100%;">
                  <p>Curriculum</p>

                  <input required type="file" name="curriculum" value="">
              </div>

                  <input required hidden name="oferta" value="{{ oferta.id }}">


              <p class="term">
                  {#<i class="fa fa-check-square-o" aria-hidden="true"></i><span>Acepto términos y condiciones. </span>#}

              <div class="g-recaptcha" data-callback="muestraBoton" data-expired-callback="ocultaboton" data-error-callback="errorboton" data-sitekey="{{ apikey }}"></div>

              </p>

              <p>
                  <button type="submit" id="bsubmit">ENVIAR</button>
              </p>
              {#<a>by pablo_corezzola</a>#}
          </form>

      </div>

      <br>

      <div class="hidencontainer" style="display: none">
      <div class="showcontainer">
      {% for flashMessage in app.session.flashbag.get('error') %}

        <span class="mensajes">{{ flashMessage }}</span><br>

      {% endfor %}
       </div>


   {% endblock %}


 {% block custom_javascripts %}
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <script>
         $(document).ready(function(){
             $('#bsubmit').hide();

             var nodes=$('.mensajes');
             var texto='';
             nodes.each(function(){
                 texto+=$( this ).text()+'\n';
             });

             if(nodes.length>0){
                 vex.dialog.alert({ unsafeMessage:'<span>'+texto+'</span>'

                     , className: 'vex-theme-wireframe' ,
                     overlayClassName: 'success',
                     contentClassName: 'borderblueclass maxwidth',
                     closeClassName: 'closebleclass'
                 });
             }



         });
         var muestraBoton = function() {
             $('#bsubmit').show();
         };
         var ocultaboton = function() {
             $('#bsubmit').hide();
         };
         var errorboton = function() {
             $('#bsubmit').hide();
         };
     </script>




 {% endblock %}