{% extends 'gemaBundle::clientlayout.html.twig' %}

  {% block customstylesheets %}
      <link href="{{ asset('bundles/gema/clientresources/css/mycss.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/css/prodprogm.css')}}" rel="stylesheet">
	  {% endblock %}

  {% block content %}

<div style="text-align: center;margin: 0 auto">

<div class="row">
    
        {#{% if prodprog.logo is not null %}#}
            {#<div class="col-md-2">#}
            {#<img src="{{ asset(prodprog.logo) }}" style="max-width: 100%">#}
          {#</div>#}
        {#{% endif %}#}

    <div class="col-md-12" style="">
        <h2 style="font-family: 'Fago-Bold';color:#254389"> {{ prodprog.nombre }}</h2>
    </div>
    </div>
<div style="margin-top: 10px !important">
    {{ prodprog.introduccion|raw }}
</div>
    <div style="margin-top: 10px !important">
        {{ prodprog.descripcion|raw }}
    </div>

</div>
{% endblock %}

    {% block custom_javascripts %}
<script>

</script>

	{% endblock %}