{% extends 'gemaBundle::clientlayout.html.twig' %}

  {% block customstylesheets %}
	  <link href="{{ asset('bundles/gema/clientresources/css/listtoro.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/watermark/styleimg.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/datatables/main/css/jquery.dataTables.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/datatables/fixedcolumns/css/fixedColumns.dataTables.css')}}" rel="stylesheet">
      {#<link href="{{ asset('bundles/gema/clientresources/datatables/fixedhead/css/fixedHeader.dataTables.css')}}" rel="stylesheet">#}
      <link href="{{ asset('bundles/gema/clientresources/datatables/sort/alt-string.js')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/datatables/checkboxes/dataTables.checkboxes.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/datatables/responsive/css/responsive.dataTables.css')}}" rel="stylesheet">


	  {% endblock %}

  {% block content %}

		<div class="row">

			<input type="text" id="clicked" hidden>

{% if fullsearch is not defined or fullsearch==false %}
			<div class="colapsive-panel" role="navigation">

							<div class="row">
								<div id="razadiv1" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
									<b>Raza:</b>
								</div>
								<div id="selectdiv1" class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
									<div class="btn-group">
									  <button id="botontotosob" type="button" class="btn btn-xs dropdown-toggle btn-toro" data-toggle="dropdown">
										{{ razaname }} <span class="caret"></span>
									  </button>
										<ul class="nav navbar-nav">
											<li style="font-size: 117%;">Raza:</li>
											<li>
												<!-- Split button -->

												<select name="principalselector2" class="sel22 newselector">
													<option selected  value="{{ razaname }}" class="here">{{ razaname }}</option>
													{% if fathersmenu  is defined %}

														{% for r in fathersmenu %}
															<option value="{{ r.nombre }}"> {{ r.nombre }}&nbsp;&nbsp;&nbsp;</option>

														{% endfor %}
													{% endif %}

													{% if razasmenu is defined %}
														{% for r in razasmenu %}
															<option value="{{ r.nombre }}">{{ r.nombre }}&nbsp;&nbsp;&nbsp;</option>

														{% endfor %}
													{% endif %}
												</select>

											</li>
											{% if otherrazas is defined and otherrazas is not null %}
												<li>


													<select class="therrazasselector newselector">
														{% for r in otherrazas %}
															<option value= {{  r.nombreraza |replace(' ','-')}}> {{  r.nombreraza }}</option>
														{% endfor %}
													</select>

												</li>
											{% endif %}
										</ul>
									</div>
								</div>



							</div>

                <div >

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        {#<button type="submit" class="btn btn-warning btn-sm">Generar PDF</button>#}
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-9 col-xs-7">
                        <div class="form-group buscador" id="padredatostext">
                            <em><input autocomplete="off" id="datostext" type="text" class="form-control" placeholder="Buscar por Nombre, Prefijo o padre ..."></em>
                        </div>
                    </div>
                    {#<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">#}
                        {#<a href="#" id="buscartoros"><img class="" src="{{ asset('bundles/gema/clientresources/img/bt_buscar.png')}}"></a>#}
                    {#</div>#}

                </div>



			</div>

{% endif %}
			<nav id="barra-busqueda" class="navbar" role="navigation">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<div class="row">
						{% if fullsearch is not defined %}
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <ul class="nav navbar-nav">
                                <li style="font-size: 117%;">Raza:</li>
                                <li>
                                    <!-- Split button -->

										<select name="principalselector" class="sel2 newselector">
											<option selected  value="{{ razaname }}" class="here">{{ razaname }}</option>
											{% if fathersmenu  is defined %}

												{% for r in fathersmenu %}
													<option value="{{ r.nombre }}"> {{ r.nombre }}&nbsp;&nbsp;&nbsp;</option>

												{% endfor %}
											{% endif %}

											{% if razasmenu is defined %}
												{% for r in razasmenu %}
												<option value="{{ r.nombre }}">{{ r.nombre }}&nbsp;&nbsp;&nbsp;</option>

												{% endfor %}
											{% endif %}
                                        </select>

                                </li>
								{% if otherrazas is defined and otherrazas is not null %}
									<li>

									<select class="therrazasselector newselector">
										<option value="900">Seleccione una raza...</option>
										{% for r in otherrazas %}
											<option value= {{  r.nombreraza }}> {{  r.nombreraza }}</option>
										{% endfor %}
									</select>

</li>
								{% endif %}
                            </ul>



						</div>



                     {% endif %}


						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

						  <div class="navbar-form navbar-right">

							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								{#<button id="btn-pdf" type="submit" class="btn btn-warning btn-sm">Generar PDF</button>#}
							</div>
							<div class="col-lg-7 col-md-6 col-sm-9 col-xs-9">
								<div class="form-group" id="padredatostextresp">
								  <em><input autocomplete="off" type="text" id="datostextresp" class="form-control" placeholder="Buscar por Nombre, Prefijo o padre ..."></em>
								</div>
							</div>
 							{#<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">#}
								{#Boton Buscar#}
								{#<a href="#"><img class="btn-buscar-logo" id="buscartorosresp" src="{{ asset('bundles/gema/clientresources/img/bt_buscar.png')}}"></a>#}
     						{#</div>#}

						  </div>

						</div>

					</div>

				</div><!-- /.navbar-collapse -->

			</nav>

		</div>

		<ul id="myTab" class="nav nav-tabs">
			<li class="active"><a href="#todos" data-toggle="tab">TODOS LOS TOROS</a></li>
		{% if fullsearch is not defined %}
        {% for tabla in tablas %}
	    <li class=""><a href="{{ '#'~tabla.id }}" myindic="{{ tabla.nombreresumido|replace(' ','-')}}" data-toggle="tab">{{tabla.nombreresumido  }}</a></li>
	    {% endfor %}
			{% endif %}
      	</ul>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="todos">

				<form class="form-inline" role="form">
				  	<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-2 col-xs-2">
							<div class="form-group">
								<b>Búsqueda:</b>
								<label class="sr-only" for="exampleInputNombre2">Búsqueda:</label>
								<input type="text" class="form-control  exampleInput searchelement todos" autocomplete="off" id="searchinrazaAllT" familyid="todos" placeholder="Nombre del toro,apodo,padre o madre">
								<button id="boton-izq" familyid="todos" class="btn cleaner todos">Limpiar Filtros</button>
								</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
							<div class="form-group" style="margin-left:5px;">

							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							{#<div class="form-group" style="float:left">#}
								{#<button id="boton-der" type="submit" class="btn">Buscar</button>#}
							{#</div>#}
							{#<div class="form-group" style="margin-left:5px;">#}
								{#<button id="boton-izq" familyid="todos" class="btn cleaner todos">Limpiar Filtros</button>#}
				  			{#</div>#}
						</div>

					</div>

					<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

							<div class="checkbox">
								<label>
								  <b> Facilidad de parto 15 M &nbsp;</b><input id="fp15" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							<div class="checkbox">
								<label>
								  <b> Facilidad de parto 18 M &nbsp;</b><input id="fp18" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							<div class="checkbox">
								<label>
								  <b> Facilidad de parto 24 M &nbsp;</b><input id="fp24" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							<div class="checkbox">
								<label>
								  <b> Concept Plus &nbsp;</b><input id="cpCheckbox" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							<div class="checkbox">
								<label>
								  <b> Toros Nuevos &nbsp;</b><input id="nuevosCheckbox" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							{% if mocho is defined and mocho==true %}
							<div class="checkbox">
								<label>
								  <b> Mocho &nbsp;</b><input id="mochoCheckbox" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							{% endif %}
						</div>

					</div>

				</form>
				<div class="row">

					<div class="filtros">

						<button class="btn btn-sm todos cleanselection"  familyid="todos" >Limpiar Selección</button>
						<button class="btn btn-sm todos comparer" familyid="todos" >Comparar</button>
						<button class="btn btn-sm todos expexcel" familyid="todos" >Exportar para Excel</button>
						<button class="btn btn-sm todos imprimircatalogo" familyid="todos" >Imprimir Catálogo</button>
						<b id="cantmsj"  familyid="todos" class="todos">{{ toros|length }} toros en lista</b>

					</div>

				</div>
				<div class="row fullcontainer1">







								<table id="lista-busqueda"   familyid="todos" class="display nowrap todos tabla1">

									<thead class="">
									<tr class="cabecera">
										<th class="never"></th>
										<th class="checkboxsearch"></th>
										<th class="all"></th>

										<th class="apodosearch all">Apodo</th>
										<th class="nombresearch">Nombre</th>
										<th class="madresearch">Madre</th>
										{% if otherrazas is defined and otherrazas is not null %}
											<th>Raza</th>
										{% endif %}
										<th class="nuevoseach">Nuevo </th>
										<th class="fpsearch">FP</th>
										<th class="cpsearch">CP</th>
										<th>Padre </th>
										<th>
											Abuelo Materno
										</th>
										{% if mocho is defined and mocho==1 %}
											<th class="mochosearch">
												Mocho
											</th>
										{% endif %}
										<th>Origen</th>

									</tr>
									</thead>
									<tbody>

									{% for toro in toros %}

										<tr class={{ cycle(["odd", "even"], loop.index) }}">
											<td >{{ toro.id }}</td>
											<td >{{ toro.id }}</td>
											<td ><a href="{{ path('gema_torodetail', {'apodo':toro.apodo}) }}" target="_blank"><img class="toroimg imageresponsiveselect"  src="{{ asset(toro.imgprincipal) }}"  width="96px" height="77px"></a></td>

											{#<td class="verticalalign tip" style="text-align: center" data-tableexport-value="{{ toro.apodo|upper }}">{{ toro.apodo|upper }} <span>Nombre:{{ toro.nombre }} <br/>  Madre:{{ toro.madre }}</span> </td>#}
											<td class="verticalalign tip" style="text-align: center" data-tableexport-value="{{ toro.apodo|upper }}">{{ toro.apodo|upper }}</td>
											<td class="verticalalign" style="text-align: center">{{ toro.nombre }}</td>
											<td class="verticalalign" style="text-align: center">{{ toro.madre }}</td>
											{% if otherrazas is defined and otherrazas is not null %}
										    <td class="verticalalign extraza" style="text-align: center">{{ toro.nombreraza }}</td>
											{% endif %}
											<td data-nuevo="{{ toro.nuevo }}" class="verticalalign">{{ toro.nuevoflag | raw }}</td>
											{% if toro.facilidadparto is not null and toro.facilidadparto!=0 %}
												<td data-fp="{{ toro.facilidadparto }}" class="verticalalign">{{ toro.facilidadparto }}M</td>
											{% else %}
												<td data-p="0" class="verticalalign"></td>
											{% endif %}

											{% if toro.conceptplusflag is not null %}
												<td data-cp="{{ toro.cp }}" class="verticalalign"><img src="{{ asset(toro.conceptplusflag) }}" height="34" width="34"><span style="display:none;">cp</span></td>
											{% else %}
												<td data-cp="{{ toro.cp }}" class="verticalalign"></td>
											{% endif %}



											<td class="verticalalign">{{ toro.padre }}</td>
											<td class="verticalalign">{{ toro.padremadre }}</td>
											{% if mocho is defined and mocho==true%}
												<td class="verticalalign">
                                                    {% if toro.mocho==1 %}
                                                    <span>si</span>
                                                    {% endif %}
                                                </td>
											{% endif %}

											{% if toro.nacionalidadflag is not null %}
												<td class="verticalalign" data-tableexport-value="{{ toro.nacionalidad }}"><img src="{{ asset(toro.nacionalidadflag) }}" alt="{{ toro.nacionalidad }}" ></td>
											{% else %}
												<td data-formater="0" class="verticalalign"></td>
											{% endif %}

										</tr>
									{% endfor %}


									</tbody>

								</table>






				</div>

			</div>

			{% if fullsearch is not defined or fullsearch==false %}

			{% for tabla in tablas %}


				<div class="tab-pane fade in" id="{{ tabla.id }}">

					<form class="form-inline" role="form">
						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-2 col-xs-2">
								<div class="form-group">
									<b>Búsqueda:</b>
									<label class="sr-only" for="exampleInputNombre2">Nombre</label>
									<input type="text" class="form-control  exampleInput searchelement {{ 'family'~tabla.id }}" autocomplete="off" id="searchinrazaAllT" familyid="{{ 'family'~tabla.id }}" placeholder="Nombre del toro,apodo,padre o madre">
									<button id="boton-izq"  familyid="{{ 'family'~tabla.id }}" class="btn cleaner {{ 'family'~tabla.id }}">Limpiar Filtros</button>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
								<div class="form-group">
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
								{#<div class="form-group" style="float:left">#}
								{#<button id="boton-der" type="submit" class="btn">Buscar</button>#}
								{#</div>#}
								<div class="form-group" style="margin-left:5px;">

								</div>
							</div>

						</div>

						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

								<div class="checkbox">
									<label>
										<b> Facilidad de parto 15 M &nbsp;</b><input id="fp15" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								<div class="checkbox">
									<label>
										<b> Facilidad de parto 18 M &nbsp;</b><input id="fp18" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								<div class="checkbox">
									<label>
										<b> Facilidad de parto 24 M &nbsp;</b><input id="fp24" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								<div class="checkbox">
									<label>
										<b> Concept Plus &nbsp;</b><input id="cpCheckbox" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								<div class="checkbox">
									<label>
										<b> Toros Nuevos &nbsp;</b><input id="nuevosCheckbox" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								{% if mocho==true %}
									<div class="checkbox">
										<label>
											<b> Mocho &nbsp;</b><input id="mochoCheckbox" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
										</label>
									</div>
								{% endif %}
							</div>

						</div>

					</form>
					<div class="row">

						<div class="filtros">

							<button class="btn btn-sm cleanselection {{ 'family'~tabla.id }}" familyid="{{ 'family'~tabla.id }}"  >Limpiar Selección</button>
							<button class="btn btn-sm comparer {{ 'family'~tabla.id }}"  familyid="{{ 'family'~tabla.id }}" >Comparar</button>
							<button class="btn btn-sm {{ 'family'~tabla.id }} expexcel" familyid="{{ 'family'~tabla.id }}" >Exportar para Excel</button>
							<button class="btn btn-sm {{ 'family'~tabla.id }} imprimircatalogo" familyid="{{ 'family'~tabla.id }}" >Imprimir Catálogo</button>
							<b id="cantmsj"  familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}">{{ tabla.toros|length }} toros en lista</b>
                            <button class="btn btn-xs pruebacomp" familyid="{{ 'family'~tabla.id }}" style="float:right; background-color:#882700;border:none;color:#FFF;">Ver prueba comprimida</button>
						</div>

					</div>
					<div class="row fullcontainer2">



						<div class="wrapper1" id="{{ tabla.nombreresumido|replace(' ','-') }}">
							<div class="div1">
							</div>
						</div>

						{% macro show_number(n) %}
							{%- spaceless %}
								{% set decimals = n | split('.')[1] | default('') | length %}
								{{ n | number_format(decimals, '.', ',') }}
							{% endspaceless -%}
						{% endmacro %}

							<table id="{{ tabla.nombreresumido|replace(' ','-') }}" style="width: 100%" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }} genetictable display nowrap">


								<thead>
								<tr class="cabecera">
									<th class="never"></th>
									<th class="checkboxsearch"></th>
									<th style="width: 100px !important;">

										</th>

									<th class="apodosearch"> </th>

									<th class="nombresearch">Nombre</th>
									<th class="madresearch">Madre</th>
									<th class="cabecerawith nuevoseach">Nuevo</th>
									<th class="cabecerawith fpsearch never">FP</th>
									<th class="cabecerawith cpsearch">CP</th>
                                    <th class="cabecerawith cpsearch none" origen="">Origen</th>
                                    {% if mocho is defined and mocho==1 %}
                                        <th class="mochosearch">
                                            Mocho
                                        </th>
                                    {% endif %}

									<th data-formater="rowhead" class="cabecerawith never"></th>
									{% for dato in tabla.tabladatos %}
										<th class="cabecerawith never" showinvc="{{ dato.verenpc }}">{{ dato.nombre }}</th>
									{% endfor %}


								</tr>
								</thead>
								<tbody>

								{% for toro in tabla.toros %}

									<tr class="{{ cycle(["odd", "even"], loop.index) }}">
										<td>{{ toro.id }}</td>
										<td >{{ toro.id }}</td>
										<td><a href="{{ path('gema_torodetail', {'apodo':toro.apodo }) }}" target="_blank"><img class="toroimg" src="{{ asset(toro.imgprincipal) }}" width="96px" height="77px"></a></td>
										<td class="verticalalign toroapodo" tnombre="{{ toro.nombre }}" tmadre="{{ toro.madre }}" title=" Padre:{{ toro.padre }}*** Abuelo Materno:{{ toro.padremadre }}" style="text-align: center">{{ toro.apodo|upper }}<br>{{ toro.padre|truncate(20,true) }}<br>{{ toro.padremadre|truncate(20,true) }}</td>
										<td class="verticalalign" style="text-align: center">{{ toro.nombre }}</td>
										<td class="verticalalign" style="text-align: center">{{ toro.madre }}</td>
										<td data-nuevo="{{ toro.nuevo }}" class="verticalalign">{{ toro.nuevoflag | raw }}</td>
										{% if toro.facilidadparto is not null and toro.facilidadparto!=0 %}
											<td data-fp="{{ toro.facilidadparto }}" class="verticalalign">{{ toro.facilidadparto }}M</td>
										{% else %}
											<td data-p="0" class="verticalalign"></td>
										{% endif %}

										{% if toro.conceptplusflag is not null %}
											<td data-cp="{{ toro.cp }}" class="verticalalign"><img src="{{ asset(toro.conceptplusflag) }}" width="34" height="34"><span style="display:none;">cp</span></td>
										{% else %}
											<td data-cp="{{ toro.cp }}" class="verticalalign"></td>
										{% endif %}

                                        {% if toro.nacionalidadflag is not null %}
                                            <td class="verticalalign" data-tableexport-value="{{ toro.nacionalidad }}"><img src="{{ asset(toro.nacionalidadflag) }}" alt="{{ toro.nacionalidad }}" ></td>
                                        {% else %}
                                            <td data-formater="0" class="verticalalign"></td>
                                        {% endif %}

                                        {% if mocho is defined and mocho==true%}
                                            <td class="verticalalign">
                                                {% if toro.mocho==1 %}
                                                    <span>si</span>
                                                {% endif %}
                                            </td>
                                        {% endif %}
										<td style="color:black !important;">
											{% for tabladata in toro.tablasflag[tabla.nombre] %}
                                                {% if tabladata['rowhead']|lower=='dep' or tabladata['rowhead']|lower=='ranking' %}
                                            {{ tabladata['rowhead'] }}<br><br>
                                            {% endif %}
											{% endfor %}
										</td>
										{% for dato in tabla.tabladatos %}
											<td>
											{% for tabladata in toro.tablasflag[tabla.nombre] %}

                                                {% if tabladata['rowhead']|lower=='dep' or tabladata['rowhead']|lower=='ranking' %}

                                                    {% if  isNumber( tabladata[dato.nombre])=='1' %}

                                                 {% if tabladata['rowhead']|lower=='ranking' and   tabladata[dato.nombre] | replace('%','')<=25 and tabladata[dato.nombre]!='-' and  dato.nombre|lower !='altura' %}
												<span class="downprom tip" >{{recortar(tabladata[dato.nombre])~'%' }} <span >{{ dato.nombre }}</span></span><br><br>

                                                {% else %}

													{% if tabladata['rowhead']|lower=='dep'%}
                                                    <span class="tip updatago newnew" data-up="{{ tabladata[dato.nombre]|round(2) }}">{{ recortar(tabladata[dato.nombre]) }} <span>{{ dato.nombre }}</span> </span><br><br>
														{% else %}
															<span class="tip updatago" data-up="{{ tabladata[dato.nombre]|round(2) }}">{{ recortar(tabladata[dato.nombre])~'%' }} <span>{{ dato.nombre }}</span> </span><br><br>
													{% endif %}
                                                 {% endif %}

                                                    {% else %}

                                                        <span class="tip updatago nonumber" data-up="300000000">{{ tabladata[dato.nombre] }} <span>{{ dato.nombre }}</span> </span><br><br>

                                                    {% endif %}



                                                {% endif %}

                                            {% endfor %}
											</td>
										{% endfor %}



									</tr>
								{% endfor %}


								</tbody>

							</table>





					</div>

				</div>



				{% endfor %}
{% endif %}

      	</div>


{% endblock %}
 {% block custom_javascripts %}


	 <script src="{{ asset('bundles/gema/js/buscadortoros.js') }}"></script>
	 <script src="{{ asset('bundles/gema/clientresources/ash/ash.js') }}"></script>

	 <script src="{{ asset('bundles/gema/clientresources/datatables/main/js/jquery.dataTables.js')}}"></script>
	 <script src="{{ asset('bundles/gema/clientresources/datatables/fixedcolumns/dataTables.fixedColumns.js')}}"></script>
	 <script src="{{ asset('bundles/gema/clientresources/datatables/tds/tds.js')}}"></script>
	 <script src="{{ asset('bundles/gema/clientresources/datatables/checkboxes/dataTables.checkboxes.js')}}"></script>
	 <script src="{{ asset('bundles/gema/clientresources/datatables/responsive/js/dataTables.responsive.js')}}"></script>





	 {#<script>#}
		 {#$(document).ready(function(){#}
			 {#var getUrl = window.location;#}
			 {#var segment=getUrl.pathname.split('/');#}
			 {#var segundoseg='';#}
			 {#for(var i=0;i<segment.length;i++){#}
				 {#if(segment[i]=='web')#}
					 {#break;#}
				 {#segundoseg+=segment[i]+'/';#}
			 {#}#}
			 {#console.log(segundoseg);#}
			 {#var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + segundoseg;#}
			 {#console.log(baseUrl);#}
			 {#var urlphp=baseUrl+'/web/js/responsiveImg.js.php';#}
             {#console.log(urlphp);#}
			 {#$(".imageresponsiveselect").responsiveImg(#}

					 {#{#}
                         {#breakpoints : {#}
                             {#"_small":360,#}
                             {#"_medium":780,#}
                             {#"_large":900#}
                         {#},#}
						 {#srcAttribute : "src",#}
						 {#pathToPHP : urlphp,#}
						 {#createNewImages : true,#}
						 {#jpegQuality : 100,#}
						 {#callback:false,#}
                         {#goinstart:true#}
					 {#}#}
             {#);#}





		 {#});#}

	 {#</script>#}


	 <script>


		 $(document).ready(function() {

             if($(window).width() <= 767) {
           //Agregar Columna dinamicamente
                 $('table').each(function(){
                     $(this).find('thead').find('tr').append('<th></th>');
                     $(this).find('tr:not(:has(th))').each(function(r){
                         $(this).append('<td></td>');
                     });
                   //  rows.each(function(r){

                   //  });
                 //    console.log(rows);
                 });
             }
             var k=0;
             $('table').each(function () {

                 $(this).find('td').each(function(){
                      var span=$(this).find('.updatago:first');

                      var orderdata=span.attr('data-up');

                     if(orderdata!=undefined){
                         $(this).attr('data-order',orderdata);
                     }

                 });

             });

			 $('table').each(function () {


				 var tabla = $(this).DataTable({
					// scrollY: 300,
					 scrollX: true,
					 scrollCollapse: true,
					 paging: true,
					 "bInfo" : false,

					 oLanguage: {
						 "oPaginate": {
							 "sLast": "Ultimo",
							 "sNext": "Siguiente",
							 "sPrevious":"Anterior",
							 "sEmptyTable": "No hay datos para esta tabla"

						 },
						 "sLengthMenu": "Mostrando _MENU_ toros"
					 },
                     'stripeClasses':['myodd','myeven']
                     ,
					 columnDefs: [
						 {
							 'targets': 0,
							 'checkboxes': {
								 'selectRow': true
							 }
						 },
						 { type: 'alt-string', targets: [8,4] },
						 { "orderable": false, "targets": 2 },
						 {
							 "targets": [ 4,5,1 ],
							 "visible": false
						 },
                         {
                             className: 'control',
                             orderable: false,
                             targets:   -1
                         }

                     ],
					 'select': {
						 'style': 'multi'
					 },"lengthMenu": [[-1,5,10, 25, 50, -1], ["Todos",5,10, 25, 50, "Todos"]],

//                     responsive:{
//
//                         details: {
//                             type: 'column'
//                         }
//                     },

				 });

				 if($(window).width() <= 767) {
					 new $.fn.dataTable.Responsive(tabla,
							 {
                                 details: {
                                     type: 'column',
                                     target: -1
                                 }

							 }
                     );
				      tabla.columns.adjust().draw(false);
				 }
                 else{

					 new $.fn.dataTable.FixedColumns(tabla, {
					 leftColumns: 10
                     }
                     );

                     if($(this).attr('id')!='lista-busqueda'){
                         var column = tabla.column(9);
                         column.visible( false );
                     }
                     tabla.columns.adjust().draw( false ); // adjust
				 }
				 tabla.order([3, "asc"]).draw();
			 });

			 $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				 $($.fn.dataTable.tables(true)).css('width', '100%');
				 $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();

				 var id=$(this).attr('myindic');
				 var mwith=$('#'+id+'_wrapper').find('.DTFC_ScrollWrapper').css('width');
                 var tablamy=$('table#'+id);
                 var innerwith=tablamy.css('width');
                 var wraper=$('.wrapper1#'+id);
                 wraper.css('width',mwith);
                 wraper.find('.div1').css('width',innerwith);

                 var wraper2=tablamy.closest('.dataTables_scrollBody');

                   wraper.scroll(function(){
                       wraper2.scrollLeft(wraper.scrollLeft());
                 });
                 wraper2.scroll(function(){
                     wraper.scrollLeft(wraper2.scrollLeft());
                 });

			 });

		 });



	 </script>

<script>
	function ResetOddEven(table){

		var loop=0;

		table.rows().iterator( 'row', function ( context, index ) {
			if(loop%2==0) {
				$(this.row(index).node()).attr("class",'myodd');
				$('#example').DataTable().fixedColumns().rowIndex()
			}
			else{
				$(this.row(index).node()).attr("class",'myeven');
			}

			loop++;
		} );

	}

	function ResetOddEven2(table){


		var loop=0;
		table.find('tr').not('.cabecera').each(function(){

			var r=$(this);
			if(loop%2==0){
				r.attr("class",'myodd');
			}
			else {

				r.attr("class",'myeven');
			}
			loop++;
		});

	}

</script>
	 <script>

		 function ResetOddEvenGeneral(){
			 $('table').not('.DTFC_Cloned').each(function(){
				 ResetOddEven($(this).DataTable());
			 });
			 $('table.DTFC_Cloned').each(function(){
				 ResetOddEven2($(this));
			 });
		 }

		  $(document).ready(function(){




			 ResetOddEvenGeneral();
//			  if($(window).width() <= 767){
//				  vex.dialog.alert({ unsafeMessage:'Puede desplazarce a lo ancho por la tabla arrastrando a la izquierda o derecha'
//
//					  , className: 'vex-theme-wireframe' ,
//					  overlayClassName: 'success',
//					  contentClassName: 'bordernaranjaclass',
//					  closeClassName: 'closebleclass'
//				  });
////
//			  }
		 });





		 var timeout = null;

		 $('.searchelement').on('keyup change', function() {
			 clearTimeout(timeout);
             var familyId=$(this).attr('familyid');
             var texto=$(this).val();

             timeout = setTimeout(function (e) {
                 var table=$('table.'+familyId).not('.DTFC_Cloned').DataTable();
                 table.search(texto,true).draw();

                 $($.fn.dataTable.tables(true)).css('width', '100%');
                 $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
                 var info = table.page.info();
                 $('.'+familyId+'#cantmsj').html(info.recordsDisplay + ' toros en la lista');
              //   ResetOddEvenGeneral();

             }, 500);


		 });

         $('table').change(function(){
          //   ResetOddEvenGeneral();
         });





		 $(":checkbox").not('.listcheck').click(function(){

             var familyId=$(this).attr('familyid');
             var id=$(this).attr('id');
             {
//                 if(id=='cpCheckbox'){
//                     $('#fp24.'+familyId).prop('checked',false);
//                     $('#fp18.'+familyId).prop('checked',false);
//                     $('#fp15.'+familyId).prop('checked',false);
//                     $('#nuevosCheckbox.'+familyId).prop('checked',false);
//                     $('#mochoCheckbox.'+familyId).prop('checked',false);
//                 }
                 if(id=='fp24'){
//                 $('#cpCheckbox.'+familyId).prop('checked',false);
                 $('#fp18.'+familyId).prop('checked',false);
                 $('#fp15.'+familyId).prop('checked',false);
//                     $('#nuevosCheckbox.'+familyId).prop('checked',false);
//                     $('#mochoCheckbox.'+familyId).prop('checked',false);
                }
                 if(id=='fp18'){
//                     $('#cpCheckbox.'+familyId).prop('checked',false);
                     $('#fp24.'+familyId).prop('checked',false);
                     $('#fp15.'+familyId).prop('checked',false);
//                     $('#nuevosCheckbox.'+familyId).prop('checked',false);
//                     $('#mochoCheckbox.'+familyId).prop('checked',false);
                 }
                 if(id=='fp15'){
//                     $('#cpCheckbox.'+familyId).prop('checked',false);
                     $('#fp18.'+familyId).prop('checked',false);
                     $('#fp24.'+familyId).prop('checked',false);
//                     $('#nuevosCheckbox.'+familyId).prop('checked',false);
//                     $('#mochoCheckbox.'+familyId).prop('checked',false);
                 }
//                 if(id=='nuevosCheckbox'){
//                     $('#cpCheckbox.'+familyId).prop('checked',false);
//                     $('#fp18.'+familyId).prop('checked',false);
//                     $('#fp15.'+familyId).prop('checked',false);
//                     $('#fp24.'+familyId).prop('checked',false);
//                     $('#mochoCheckbox.'+familyId).prop('checked',false);
//                 }
//                 if(id=='mochoCheckbox'){
//                     $('#fp24.'+familyId).prop('checked',false);
//                     $('#fp18.'+familyId).prop('checked',false);
//                     $('#fp15.'+familyId).prop('checked',false);
//                     $('#nuevosCheckbox.'+familyId).prop('checked',false);
//                     $('#cpCheckbox.'+familyId).prop('checked',false);
//                 }
             }
				 SearchInTableForVal('lista-busqueda','',0,familyId);
		 });

		function Do(value,familyId){
			 if(value.length>2 || value==null || value=='' || value==' ')
				 SearchInTableForVal('lista-busqueda',value,0,familyId);
		 }

		 function ShowAllRows(table)
		 {
			 table.search( '' ).columns().search( '' ).draw();

		 }

		 function HideAllRows(table){
			 table.rows().iterator( 'row', function ( context, index ) {
				 $( this.row( index ).node() ).hide();
			 } );
		 }

		function  ShowAndUpdate(table,familyId){

			if(familyId!='todos')
             table.order([7, "desc"]).draw();
             else
			 table.order([7, "desc"]).draw();

//            if(isseacrh!='none')
//                table.order([4, "desc"]).draw();
			$($.fn.dataTable.tables(true)).css('width', '100%');
			$($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
			var info = table.page.info();

			$('.'+familyId+'#cantmsj').html(info.recordsDisplay + ' toros en la lista');
		//	ResetOddEvenGeneral();
		 }
		 function SearchInTableForVal(tableId,value,allrows,familyId)
		 {

             var table=$('table.'+familyId).not('.DTFC_Cloned').DataTable();
			 var fp15=$('.'+familyId+'#fp15').prop('checked');
			 var fp18=$('.'+familyId+'#fp18').prop('checked');
			 var fp24=$('.'+familyId+'#fp24').prop('checked');
			 var isnuevo=$('.'+familyId+'#nuevosCheckbox').prop('checked');
			 var iscp=$('.'+familyId+'#cpCheckbox').prop('checked');
			 var ismocho=$('.'+familyId+'#mochoCheckbox').prop('checked');
			   ShowAllRows(table);
			   if(allrows==1)
			   {
				  ShowAllRows(table);
				   table.order([6, "desc"]).draw();
				   $($.fn.dataTable.tables(true)).css('width', '100%');
				   $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
				   var info = table.page.info();
				   $('.'+familyId+'#cantmsj').html(info.recordsDisplay + ' toros en la lista');
				  // ResetOddEvenGeneral();
                  return;
			   }


			 if(fp15==true || fp18==true || fp24==true)
			 {

			  	 var val = [];
					 if(fp24==true){//
						 val.push("24M");
						 val.push("18M");
						 val.push("15M");
					 }
					 else if(fp18==true){
						 val.push("18M");
						 val.push("15M");

					 }
					 else if(fp15==true){
						 val.push("15M");
					 }
                 console.log(val);

				 var mergedVal = val.join('|');
				 table.column('.fpsearch').search(mergedVal,true).draw();


			 }

			 if(iscp==true){
				 table.column('.cpsearch').search('cp').draw();

           }
          if(isnuevo==true){
			  table.column('.nuevoseach').search('nuevo').draw();
          }


             if(ismocho==true){

				 table.column('.mochosearch').search('si').draw();
             }
			 else if(!fp15 && !fp18 && !fp24 && !iscp && !isnuevo && !iscp && !ismocho)
			 {
				 ShowAllRows(table);
			 }

			  ShowAndUpdate(table,familyId,'sisi');
            //  ResetOddEvenGeneral();
		 }


		  $(".cleaner").click(function(e) {
			  e.preventDefault();
			  var familyId=$(this).attr('familyid');
			  $('.'+familyId+'#searchinrazaAllT').val('');
			  $('.'+familyId+':checkbox').not('.listcheck').prop('checked', false);

			  SearchInTableForVal('lista-busqueda','',1,familyId);
		  });






		  $('.cleanselection').click(function(){
			  var familyId=$(this).attr('familyid');
			  var table=$('table.'+familyId).not('.DTFC_Cloned').DataTable();
			  table.column(0).checkboxes.deselectAll();
			  ShowAllRows(table);
			  ShowAndUpdate(table,familyId);
		  });

		  $('.comparer').click(function(){
			  Comparer($(this).attr('familyid'));
		  });


		  function Comparer(familyId)
		  {
			  var table=$('table.'+familyId).not('.DTFC_Cloned').DataTable();
			  var rows_selected = table.column(0).checkboxes.selected();
              var arra=[];
			  // Iterate over all selected checkboxes
			  $.each(rows_selected, function(index, rowId) {
				 arra.push(rowId);
			  });
			  var mergedVal = arra.join('|');
			    table.column('.checkboxsearch').search(mergedVal,true).draw();
			    ShowAndUpdate(table,familyId);
		  }


	 </script>

     <script>

             var arraypos=[];
             //Pruebas comprimidas

             function ComprimirT(familyId,button){
console.log(familyId);
                 var tabla= $('table.' + familyId).not('.DTFC_Cloned').DataTable();

                 if(button.html()=='Ver prueba comprimida') {
                     button.text('Ver prueba completa');


                     tabla
                             .columns( '[showinvc="0"]').visible( false);
                     return;
                 }
                 if(button.html()=='Ver prueba completa'){

                     button.text('Ver prueba comprimida')

                     tabla
                             .columns( '[showinvc="0"]').visible( true);


                 }
             }
				 $(document).on('click','.pruebacomp',function(){

                var familyId=$(this).attr('familyid');
				ComprimirT(familyId,$(this));
             });



		 $(document).ready(function(){

//
//			 $('.pruebacomp').each(function(){
//
//				 var familyId=$(this).attr('familyId');
//				ComprimirT(familyId,$(this));
//			 });

		 });

     </script>

	 <script>
		 $('#datostextresp').keyup(function(){
			 if($(this).val().length>1)
			 {
				 buscarTorosLike($(this).val(),'datostextresp','padredatostextresp','800px','padredatostextresp');
			 }
		 });

		 $('#datostext').keyup(function(){
			 if($(this).val().length>1)
			 {
				 buscarTorosLike($(this).val(),'datostext','padredatostext','300px','padredatostext',true);
			 }
		 });


	 </script>

	 <script>
		 $('.sel2').change(function(){
			var name=$(this).val();
			 var clase=$('select[name="principalselector"] :selected').attr('class');
			 if(clase===undefined){
				 window.location=Routing.generate('gema_razalist', {nombre: name});
			 }

		 });

		 $('.sel22').change(function(){
			 var name=$(this).val();
			 var clase=$('select[name="principalselector2"] :selected').attr('class');

			 if(clase===undefined){
				 window.location=Routing.generate('gema_razalist', {nombre: name});
			 }

		 });
		 $('.therrazasselector').change(function(){

			 var raza=$(this).val();
             var tabla=$('.tabla1').not('.DTFC_Cloned').DataTable();
             if(raza==900){
                 ShowAllRows(tabla);
             }
             else
			 tabla.search(raza).draw();
			 var info = tabla.page.info();
			 var d= info.recordsDisplay;

			 $('#cantmsj').html(d + ' toros en la lista');
			 $($.fn.dataTable.tables(true)).css('width', '100%');
			 $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
			// ResetOddEvenGeneral();
		 });
	 </script>

	 <script>
		 $('.expexcel').click(function(){
			 var familyId=$(this).attr('familyId');
			 var table=$('table.'+familyId).not('.DTFC_Cloned').DataTable();
             var rows_selected = table.column(0).checkboxes.selected();
             if(rows_selected.length===0){

                     vex.dialog.alert({ unsafeMessage:'No ha seleccionado ningún toro'

                         , className: 'vex-theme-wireframe' ,
                         overlayClassName: 'success',
                         contentClassName: 'bordernaranjaclass',
                         closeClassName: 'closebleclass'
                     })


             }else{
                 var arra=[];
                 $.each(rows_selected, function(index, rowId) {
                     arra.push(rowId);
                 });
                 var mergedVal = arra.join('|');
				 if(familyId=='todos'){

                     $.ajax({
                         type: 'POST',
                         url: Routing.generate('gema_export'),
						 data:{toros: mergedVal,alltoros:'true'},
                         dataType:'json',
                         success: function (dataresp) {

                             console.log(dataresp);
                             vex.dialog.alert({ unsafeMessage:'<div style="text-align: center"><a href="'+dataresp.file+'">Descargar Excel</a></div>'

                                 , className: 'vex-theme-wireframe' ,
                                 overlayClassName: 'success',
                                 contentClassName: 'bordernaranjaclass',
                                 closeClassName: 'closebleclass'
                             });


                         },
                         error: function (req, stat, err) {

                             vex.dialog.alert({ unsafeMessage:'Error generando excel... Intente mas tarde'

                                 , className: 'vex-theme-wireframe' ,
                                 overlayClassName: 'success',
                                 contentClassName: 'bordernaranjaclass',
                                 closeClassName: 'closebleclass'
                             });
                         }
                     });

				 }

				 else
				 {
                   //  window.location=Routing.generate('gema_export', {toros: mergedVal,alltoros:'false'});
				 }




             }


		 });

	 </script>

	 <script>
         $(document).ready(function(){


             if($(window).width() <= 767) {



                 $('.control').click(function(e){
                     setTimeout(function() {
                        $('.dtr-data').each(function(){

                            var texto=$(this).html();
                            console.log(texto);
                           if(texto=='' || texto=='undefined' || texto==null || texto==' '){
                               console.log( $(this).closest('.dtr-title'));
                               $(this).parent('li').hide();
                           }
                        });
                     }, 0);


                 });
             }

         });
	 </script>


	 <script src="{{ asset('bundles/gema/js/pdfgenerator.js')}}"></script>

 {% endblock %}

