{% extends 'gemaBundle::clientlayout.html.twig' %}

  {% block customstylesheets %}
	  <link href="{{ asset('bundles/gema/clientresources/css/listtoro.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/watermark/styleimg.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/datatables/main/css/jquery.dataTables.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/datatables/fixedcolumns/css/fixedColumns.dataTables.css')}}" rel="stylesheet">
      <link href="{{ asset('bundles/gema/clientresources/datatables/sort/alt-string.js')}}" rel="stylesheet">


	  {% endblock %}

  {% block content %}

		<div class="row">

{% if fullsearch is not defined or fullsearch==false %}
			<div class="colapsive-panel" role="navigation">

							<div class="row">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
									<b>Raza:</b>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
									<div class="btn-group">
									  <button type="button" class="btn btn-xs dropdown-toggle btn-toro" data-toggle="dropdown">
										{{ razaname }} <span class="caret"></span>
									  </button>
										<ul class="nav navbar-nav">
											<li style="font-size: 117%;">Raza:</li>
											<li>
												<!-- Split button -->

												<select name="principalselector2" class="sel22 newselector">
													<option selected  value="{{ razaname }}" class="here">{{ razaname }}</option>
													{% if fathersmenu  is defined %}

														{% for r in fathersmenu %}
															<option value="{{ r.nombre }}"> {{ r.nombre }}&nbsp;&nbsp;&nbsp;</option>

														{% endfor %}
													{% endif %}

													{% if razasmenu is defined %}
														{% for r in razasmenu %}
															<option value="{{ r.nombre }}">{{ r.nombre }}&nbsp;&nbsp;&nbsp;</option>

														{% endfor %}
													{% endif %}
												</select>

											</li>
											{% if otherrazas is defined and otherrazas is not null %}
												<li>

													<select class="therrazasselector newselector">
														{% for r in otherrazas %}
															<option value= {{  r.nombreraza |replace(' ','-')}}> {{  r.nombreraza }}</option>
														{% endfor %}
													</select>

												</li>
											{% endif %}
										</ul>
									</div>
								</div>



							</div>

                <div >

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        {#<button type="submit" class="btn btn-warning btn-sm">Generar PDF</button>#}
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-9 col-xs-7">
                        <div class="form-group buscador" id="padredatostext">
                            <em><input autocomplete="off" id="datostext" type="text" class="form-control" placeholder="Buscar por Nombre, Prefijo o padre ..."></em>
                        </div>
                    </div>
                    {#<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">#}
                        {#<a href="#" id="buscartoros"><img class="" src="{{ asset('bundles/gema/clientresources/img/bt_buscar.png')}}"></a>#}
                    {#</div>#}

                </div>



			</div>

{% endif %}
			<nav id="barra-busqueda" class="navbar" role="navigation">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<div class="row">
						{% if fullsearch is not defined %}
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <ul class="nav navbar-nav">
                                <li style="font-size: 117%;">Raza:</li>
                                <li>
                                    <!-- Split button -->

										<select name="principalselector" class="sel2 newselector">
											<option selected  value="{{ razaname }}" class="here">{{ razaname }}</option>
											{% if fathersmenu  is defined %}

												{% for r in fathersmenu %}
													<option value="{{ r.nombre }}"> {{ r.nombre }}&nbsp;&nbsp;&nbsp;</option>

												{% endfor %}
											{% endif %}

											{% if razasmenu is defined %}
												{% for r in razasmenu %}
												<option value="{{ r.nombre }}">{{ r.nombre }}&nbsp;&nbsp;&nbsp;</option>

												{% endfor %}
											{% endif %}
                                        </select>

                                </li>
								{% if otherrazas is defined and otherrazas is not null %}
									<li>

									<select class="therrazasselector newselector">
										<option value=""></option>
										{% for r in otherrazas %}
											<option value= {{  r.nombreraza }}> {{  r.nombreraza }}</option>
										{% endfor %}
									</select>

</li>
								{% endif %}
                            </ul>



						</div>



                     {% endif %}


						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

						  <div class="navbar-form navbar-right">

							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								{#<button id="btn-pdf" type="submit" class="btn btn-warning btn-sm">Generar PDF</button>#}
							</div>
							<div class="col-lg-7 col-md-6 col-sm-9 col-xs-9">
								<div class="form-group" id="padredatostextresp">
								  <em><input autocomplete="off" type="text" id="datostextresp" class="form-control" placeholder="Buscar por Nombre, Prefijo o padre ..."></em>
								</div>
							</div>
 							{#<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">#}
								{#Boton Buscar#}
								{#<a href="#"><img class="btn-buscar-logo" id="buscartorosresp" src="{{ asset('bundles/gema/clientresources/img/bt_buscar.png')}}"></a>#}
     						{#</div>#}

						  </div>

						</div>

					</div>

				</div><!-- /.navbar-collapse -->

			</nav>

		</div>

		<ul id="myTab" class="nav nav-tabs">
			<li class="active"><a href="#todos" data-toggle="tab">TODOS LOS TOROS</a></li>
		{% if fullsearch is not defined %}
        {% for tabla in tablas %}
	    <li class=""><a href="{{ '#'~tabla.id }}" myindic="{{ tabla.nombreresumido|replace(' ','-')}}" data-toggle="tab">{{tabla.nombreresumido  }}</a></li>
	    {% endfor %}
			{% endif %}
      	</ul>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="todos">

				<form class="form-inline" role="form">
				  	<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-2 col-xs-2">
							<div class="form-group">
								<b>Búsqueda:</b>
								<label class="sr-only" for="exampleInputNombre2">Búsqueda:</label>
								<input type="text" class="form-control  exampleInput searchelement todos" autocomplete="off" id="searchinrazaAllT" familyid="todos" placeholder="Nombre del toro,apodo,padre o madre">
								<button id="boton-izq" familyid="todos" class="btn cleaner todos">Limpiar Filtros</button>
								</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
							<div class="form-group" style="margin-left:5px;">

							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							{#<div class="form-group" style="float:left">#}
								{#<button id="boton-der" type="submit" class="btn">Buscar</button>#}
							{#</div>#}
							{#<div class="form-group" style="margin-left:5px;">#}
								{#<button id="boton-izq" familyid="todos" class="btn cleaner todos">Limpiar Filtros</button>#}
				  			{#</div>#}
						</div>

					</div>

					<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

							<div class="checkbox">
								<label>
								  <b> Facilidad de parto 15 M &nbsp;</b><input id="fp15" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							<div class="checkbox">
								<label>
								  <b> Facilidad de parto 18 M &nbsp;</b><input id="fp18" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							<div class="checkbox">
								<label>
								  <b> Facilidad de parto 24 M &nbsp;</b><input id="fp24" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							<div class="checkbox">
								<label>
								  <b> Concept Plus &nbsp;</b><input id="cpCheckbox" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							<div class="checkbox">
								<label>
								  <b> Toros Nuevos &nbsp;</b><input id="nuevosCheckbox" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							{% if mocho is defined and mocho==true %}
							<div class="checkbox">
								<label>
								  <b> Mocho &nbsp;</b><input id="mochoCheckbox" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
								</label>
							</div>
							{% endif %}
						</div>

					</div>

				</form>
				<div class="row">

					<div class="filtros">

						<button class="btn btn-sm todos cleanselection"  familyid="todos" >Limpiar Selección</button>
						<button class="btn btn-sm todos comparer" familyid="todos" >Comparar</button>
						<button class="btn btn-sm todos expexcel" familyid="todos" >Exportar para Excel</button>
						{#<button class="btn btn-sm todos" familyid="todos" >Imprimir Catálogo</button>#}
						<b id="cantmsj"  familyid="todos" class="todos">{{ toros|length }} toros en lista</b>

					</div>

				</div>
				<div class="row ">


					<div class="scrollable-area">





								<table id="lista-busqueda" style="width: 100%" familyid="todos" class="table table-striped todos tabla1">

									<thead class="">
									<tr class="cabecera">
										<th><input type="checkbox" class="listcheck headcheck" autocomplete="off" id=""></th>
										<th></th>
										<th>Apodo</th>
										{% if otherrazas is defined and otherrazas is not null %}
											<th>Raza</th>
										{% endif %}
										<th>Nuevo </th>
										<th>Facilidad de Parto</th>
										<th>CP</th>
										<th>Padre </th>
										<th>
											Abuelo Materno
										</th>
										{% if mocho is defined and mocho==true %}
											<th>
												Mocho
											</th>
										{% endif %}
										<th>Origen</th>
									</tr>
									</thead>
									<tbody>

									{% for toro in toros %}

										<tr class="{{ cycle(["even", "odd"], loop.index) }}">
											<td><input type="checkbox" class="listcheck" autocomplete="off"></td>
											<td><a href="{{ path('gema_torodetail', {'apodo':toro.apodo}) }}"><img class="toroimg imageresponsiveselect" src="{{ asset(toro.imgprincipal) }}"  width="100px" height="74px"></a></td>

											<td class="verticalalign" style="text-align: center" tnombre="{{ toro.nombre }}" tmadre="{{ toro.madre }}" tpadre="{{ toro.padre }}">{{ toro.apodo|upper }}</td>
											{% if otherrazas is defined and otherrazas is not null %}
										    <td>{{ toro.nombreraza }}</td>
											{% endif %}
											<td data-nuevo="{{ toro.nuevo }}" class="verticalalign">{{ toro.nuevoflag | raw }}</td>
											{% if toro.facilidadparto is not null %}
												<td data-fp="{{ toro.facilidadparto }}" class="verticalalign"><img src="{{ asset(toro.facilidadglag) }}" alt="{{ toro.facilidadparto }}"  style="width: 40%;height: 40%;"></td>
											{% else %}
												<td data-p="0" class="verticalalign"></td>
											{% endif %}

											{% if toro.conceptplusflag is not null %}
												<td data-cp="{{ toro.cp }}" class="verticalalign"><img src="{{ asset(toro.conceptplusflag) }}"></td>
											{% else %}
												<td data-cp="{{ toro.cp }}" class="verticalalign"></td>
											{% endif %}



											<td class="verticalalign">{{ toro.padre }}</td>
											<td class="verticalalign">{{ toro.padremadre }}</td>
											{% if mocho is defined and mocho==true %}
												<td class="verticalalign" data-mocho="{{ toro.mocho }}">{{ toro.mocho }}</td>
											{% endif %}

											{% if toro.nacionalidadflag is not null %}
												<td class="verticalalign"><img src="{{ asset(toro.nacionalidadflag) }}" alt="{{ toro.nacionalidad }}" ></td>
											{% else %}
												<td data-formater="0" class="verticalalign"></td>
											{% endif %}
										</tr>
									{% endfor %}


									</tbody>

								</table>


					</div>



				</div>

			</div>

			{% if fullsearch is not defined or fullsearch==false %}

			{% for tabla in tablas %}


				<div class="tab-pane fade in" id="{{ tabla.id }}">

					<form class="form-inline" role="form">
						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-2 col-xs-2">
								<div class="form-group">
									<b>Búsqueda:</b>
									<label class="sr-only" for="exampleInputNombre2">Nombre</label>
									<input type="text" class="form-control  exampleInput searchelement {{ 'family'~tabla.id }}" autocomplete="off" id="searchinrazaAllT" familyid="{{ 'family'~tabla.id }}" placeholder="Nombre del toro,apodo,padre o madre">
									<button id="boton-izq"  familyid="{{ 'family'~tabla.id }}" class="btn cleaner {{ 'family'~tabla.id }}">Limpiar Filtros</button>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
								<div class="form-group">
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
								{#<div class="form-group" style="float:left">#}
								{#<button id="boton-der" type="submit" class="btn">Buscar</button>#}
								{#</div>#}
								<div class="form-group" style="margin-left:5px;">

								</div>
							</div>

						</div>

						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

								<div class="checkbox">
									<label>
										<b> Facilidad de parto 15 M &nbsp;</b><input id="fp15" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								<div class="checkbox">
									<label>
										<b> Facilidad de parto 18 M &nbsp;</b><input id="fp18" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								<div class="checkbox">
									<label>
										<b> Facilidad de parto 24 M &nbsp;</b><input id="fp24" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								<div class="checkbox">
									<label>
										<b> Concept Plus &nbsp;</b><input id="cpCheckbox" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								<div class="checkbox">
									<label>
										<b> Toros Nuevos &nbsp;</b><input id="nuevosCheckbox" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}" autocomplete="off" type="checkbox" style="margin:0;width:auto">
									</label>
								</div>
								{% if mocho==true %}
									<div class="checkbox">
										<label>
											<b> Mocho &nbsp;</b><input id="mochoCheckbox" familyid="todos" class="todos" autocomplete="off" type="checkbox" style="margin:0;width:auto">
										</label>
									</div>
								{% endif %}
							</div>

						</div>

					</form>
					<div class="row">

						<div class="filtros">

							<button class="btn btn-sm cleanselection {{ 'family'~tabla.id }}" familyid="{{ 'family'~tabla.id }}"  >Limpiar Selección</button>
							<button class="btn btn-sm comparer {{ 'family'~tabla.id }}"  familyid="{{ 'family'~tabla.id }}" >Comparar</button>
							<button class="btn btn-sm {{ 'family'~tabla.id }} expexcel" familyid="{{ 'family'~tabla.id }}" >Exportar para Excel</button>
							{#<button class="btn btn-sm {{ 'family'~tabla.id }}" familyid="{{ 'family'~tabla.id }}" >Imprimir Catálogo</button>#}
							<b id="cantmsj"  familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }}">{{ tabla.toros|length }} toros en lista</b>

						</div>

					</div>
					<div class="row">





							<table id="{{ tabla.nombreresumido|replace(' ','-') }}" style="width: 100%" familyid="{{ 'family'~tabla.id }}" class="{{ 'family'~tabla.id }} genetictable table table-striped">


								<thead>
								<tr class="cabecera">
									<th><input type="checkbox" class="listcheck headcheck" autocomplete="off" id=""></th>
									<th style="width: 100px !important;">

										</th>

									<th><button class="btn btn-xs pruebacomp" familyid="{{ 'family'~tabla.id }}" style="float:right; background-color:#882700;border:none;color:#FFF;">Ver prueba comprimida</button> </th>
									<th class="cabecerawith">Nuevo</th>
									<th class="cabecerawith">FP</th>
									<th class="cabecerawith">CP</th>
									<th data-formater="rowhead" class="cabecerawith"></th>
									{% for dato in tabla.tabladatos %}
										<th class="cabecerawith" showinvc="{{ dato.verenpc }}">{{ dato.nombre }}</th>
									{% endfor %}


								</tr>
								</thead>
								<tbody>

								{% for toro in tabla.toros %}

									<tr class="{{ cycle(["even", "odd"], loop.index) }}">
										<td><input type="checkbox" class="listcheck" autocomplete="off"></td>
										<td><a href="{{ path('gema_torodetail', {'apodo':toro.apodo }) }}"><img class="toroimg" src="{{ asset(toro.imgprincipal) }}" width="100px" height="81px"></a></td>
										<td class="verticalalign toroapodo" tnombre="{{ toro.nombre }}" tmadre="{{ toro.madre }}" title=" Padre:{{ toro.padre }}*** Abuelo Materno:{{ toro.padremadre }}" style="text-align: center">{{ toro.apodo|upper }}<br>{{ toro.padre|truncate(7,true) }}<br>{{ toro.padremadre|truncate(5,true) }}</td>
										<td data-nuevo="{{ toro.nuevo }}" class="verticalalign">{{ toro.nuevoflag | raw }}</td>
										{% if toro.facilidadparto is not null %}
											<td data-fp="{{ toro.facilidadparto }}" class="verticalalign">{{ toro.facilidadparto }}M</td>
										{% else %}
											<td data-p="0" class="verticalalign"></td>
										{% endif %}

										{% if toro.conceptplusflag is not null %}
											<td data-cp="{{ toro.cp }}" class="verticalalign"><img src="{{ asset(toro.conceptplusflag) }}"></td>
										{% else %}
											<td data-cp="{{ toro.cp }}" class="verticalalign"></td>
										{% endif %}
										<td style="color:black !important;">
											{% for tabladata in toro.tablasflag[tabla.nombre] %}
                                                {% if tabladata['rowhead']|lower=='dep' or tabladata['rowhead']|lower=='ranking' %}
                                            {{ tabladata['rowhead'] }}<br><br>
                                            {% endif %}
											{% endfor %}
										</td>
										{% for dato in tabla.tabladatos %}
											<td>
											{% for tabladata in toro.tablasflag[tabla.nombre] %}

                                                {% if tabladata['rowhead']|lower=='dep' or tabladata['rowhead']|lower=='ranking' %}

                                                 {% if tabladata['rowhead']|lower=='ranking' and   tabladata[dato.nombre] | replace('%','')<=25 and tabladata[dato.nombre]!='-' and  dato.nombre|lower !='altura' %}
												<span class="downprom">{{ tabladata[dato.nombre] }}</span><br><br>

                                                {% else %}
                                                    <span>{{ tabladata[dato.nombre] }}</span><br><br>
                                                 {% endif %}
                                                {% endif %}

                                            {% endfor %}
											</td>
										{% endfor %}


									</tr>
								{% endfor %}


								</tbody>

							</table>





					</div>

				</div>



				{% endfor %}
{% endif %}

      	</div>


{% endblock %}
 {% block custom_javascripts %}

	 <script src="{{ asset('bundles/gema/js/buscadortoros.js') }}"></script>
	 <script src="{{ asset('bundles/gema/clientresources/ash/ash.js') }}"></script>
	 <script src="{{ asset('bundles/gema/clientresources/responsiveimg/js/responsiveImg.js')}}"></script>
	 <script src="{{ asset('bundles/gema/clientresources/datatables/main/js/jquery.dataTables.js')}}"></script>
	 <script src="{{ asset('bundles/gema/clientresources/datatables/fixedcolumns/dataTables.fixedColumns.js')}}"></script>
	 {#<script src="{{ asset('bundles/gema/clientresources/doblescroll/jquery.doubleScroll.js')}}"></script>#}





	 <script>

		 $(document).ready(function() {

//			 $('#lista-busqueda').wrap('<div id="scrooll_div"></div>');
//			 $('#scrooll_div').doubleScroll();
//
//			 var cont=0;

			 $('table').each(function () {


				 var tabla = $(this).DataTable({
					 scrollY: 300,
					 scrollX: true,
					 scrollCollapse: true,
					 paging: false,
					 "bInfo" : false,
					 columnDefs: [
						 { type: 'alt-string', targets: [8,4] },
						 { "orderable": false, "targets": 1 },
						 { "width": "20px", "targets": [0,1] },
						 { "width": "100px", "targets": 1 },
					 ]
				 });
				 new $.fn.dataTable.FixedColumns(tabla, {
					 leftColumns: 3
				 });

//				 $(this).wrap('<div id="scrooll_div'+cont+'"></div>');
//				 $('#scrooll_div2'+cont).doubleScroll();
//				 cont++;

			 });

			 $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				 $($.fn.dataTable.tables(true)).css('width', '100%');
				 $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
			 });
		 });




	 </script>
	 <script>
		 var getUrl = window.location;
		 var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
		 var urlphp=baseUrl+'/web/js/responsiveImg.js.php';
		 $(".imageresponsiveselect").responsiveImg(

				 {

					 srcAttribute : "src",
					 pathToPHP : urlphp,
					 createNewImages : true,
					 jpegQuality : 90,
					 callback:false
				 }
		 );
	 </script>
<script>
	function ResetOddEven(table){

		var loop=0;
		table.find('tr:visible').not('.cabecera').each(function(){
			var r=$(this);
			if(loop%2==0){
				r.removeClass("odd").removeClass("even").removeClass("myodd").removeClass("myeven");
				r.addClass("myodd");
			}
			else {
				r.removeClass("odd").removeClass("even").removeClass("myeven").removeClass("myodd");
				r.addClass("myeven");

			}
			loop++;

		});

	}
</script>
	 <script>

		 $(document).ready(function(){
			 $('table').each(function(){
				 ResetOddEven($(this));
			 });
		 });





		  $('.searchelement').keyup(function() {
           Do($(this).val(),$(this).attr('familyid'));
		 });
		 $('.searchelement').change(function() {
			 Do($(this).val(),$(this).attr('familyid'));
		 });
		 $('.searchelement').focus(function() {
			 Do($(this).val(),$(this).attr('familyid'));
		 });

		 $(":checkbox").not('.listcheck').click(function(){

			 var familyId=$(this).attr('familyid');
			 var value=$('.'+familyId+'#searchinrazaAllT').val();
			 if(value==null || value=='' || value==' ')
				 SearchInTableForVal('lista-busqueda',value,1,familyId);
			 else
				 SearchInTableForVal('lista-busqueda',value,0,familyId);
		 });

		function Do(value,familyId){
			 if(value.length>2 || value==null || value=='' || value==' ')
				 SearchInTableForVal('lista-busqueda',value,0,familyId);
		 }

		 function SearchInTableForVal(tableId,value,allrows,familyId)
		 {

             var table=$('table.'+familyId);
			 var array=[];
			 var fp15=$('.'+familyId+'#fp15').prop('checked');
			 var fp18=$('.'+familyId+'#fp18').prop('checked');
			 var fp24=$('.'+familyId+'#fp24').prop('checked');
			 var isnuevo=$('.'+familyId+'#nuevosCheckbox').prop('checked');
			 var iscp=$('.'+familyId+'#cpCheckbox').prop('checked');
			 var ismocho=$('.'+familyId+'#mochoCheckbox').prop('checked');
			 var ismadre=false;
			 var isnombre=false;
			 if(allrows==1)
			 {

				  table.find('tr').each(function () {
					 array.push($(this));
				 });
			 }
			 else{
				 if(value==null || value=='' || value==' ')
				 {
					 $('.hiderow').hide();
					 $('.'+familyId).find('tr').show();
					 return;
				 }

				     table.find('tr').not('.cabecera').each(function (i, el) {
					 var $tds = $(this).find('td');
					 if ($tds.eq(2).attr('tnombre').toLowerCase().indexOf(value.toLowerCase()) >= 0)//Nombre
					 {
						 isnombre=true;
						 array.push($(this));
					 }
					 if ($tds.eq(2).attr('tmadre').toLowerCase().indexOf(value.toLowerCase()) >= 0)//Madre
					 {
						 ismadre=true;
						 array.push($(this));
					 }
					 if ($tds.eq(2).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)//Apodo
						 array.push($(this));
					 if ($tds.eq(6).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)//Padre
						 array.push($(this));

				 });

			 }
			 table.find('tr').not('.cabecera').hide();
			 array.forEach(function(e){
				 if(fp15==false && fp18==false && fp24==false && isnuevo==false && iscp==false)
				 {
					 e.show();
				 }
				 else{
					 if(fp15==true)
					 {
						// alert(fp15);
						 if( e.find('td[data-fp]').attr('data-fp')==15)
							 e.show();
					 }
					 if(fp18==true)
					 {
						 if( e.find('td[data-fp]').attr('data-fp')==18)
							 e.show();
						 if( e.find('td[data-fp]').attr('data-fp')==15)
							 e.show();

					 }
					 if(fp24==true)
					 {

						 if( e.find('td[data-fp]').attr('data-fp')==24)
							 e.show();
						 if( e.find('td[data-fp]').attr('data-fp')==18)
							 e.show();
						 if( e.find('td[data-fp]').attr('data-fp')==15)
							 e.show();
					 }
					 if(isnuevo==true)
					 {
						 if( e.find('td[ data-nuevo]').attr('data-nuevo')==1)
							 e.show();
					 }
					 if(iscp==true)
					 {
						 if( e.find('td[ data-cp]').attr('data-cp')==1)
							 e.show();
					 }
					 if(ismocho)
					 {
						 if( e.find('td[ data-mocho]').attr('data-cp')==1 || e.find('td[ data-mocho]').attr('data-cp')==true)
							 e.show();
					 }


				 }


			 });

			  if(ismadre==true)
				 $('.originalhiddenmadre').show();
			 if(isnombre==true)
				 $('.originalhiddennombre').show();
			 if(fp15==true || fp18==true || fp24==true)
			 {
				 table.not('.DTFC_Cloned').DataTable().order([4, "desc"]).draw()
			 }
			 $('.'+familyId+'#cantmsj').html(table.not('.DTFC_Cloned').find('tr:visible').not('.cabecera').length + ' toros en la lista');

			ResetOddEven(table);
			 $($.fn.dataTable.tables(true)).css('width', '100%');
			 $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();

		 }


		  $(".cleaner").click(function(e) {
			  e.preventDefault();
			  var familyId=$(this).attr('familyid');
			  $('.'+familyId+'#searchinrazaAllT').val('');
			  $('.'+familyId+':checkbox').not('.listcheck').prop('checked', false);

			  SearchInTableForVal('lista-busqueda','',1,familyId);
		  });




		 $(document).on('click','.headcheck',function(){
			 var familyId=$(this).closest('table').attr('familyid');
			 var tab= $('table.'+familyId).not('.DTFC_Cloned');
			 if ($(this).prop('checked'))
				 tab.find('.listcheck').not('.headcheck').each(function(e,i){
					 if($(this).is(":visible"))
						 $(this).prop('checked','checked')
				 });
			 else
				tab.find('.listcheck').not('.headcheck').each(function(){
					 $(this).prop('checked',false)
				 });
			tab.DataTable().order([0, "desc"]).draw()

		 });

		  $('.cleanselection').click(function(){
			  var familyId=$(this).attr('familyid');
			  var table=$('table.'+familyId).not('.DTFC_Cloned');

			  table.find('.listcheck').each(function(){
				  $(this).prop('checked',false)
				  $(this).closest('tr').show();
			  });
			  table.DataTable().order([0, "desc"]).draw();
			  $('table.' + familyId+'.DTFC_Cloned').find('.listcheck:visible').not('.cabecera').prop('checked',false);
			  SearchInTableForVal('lista-busqueda','',1,$(this).attr('familyid'));
		  });

		  $('.comparer').click(function(){
			  Comparer('checked',$(this).attr('familyid'));
		  });


		  function Comparer(param,familyId)
		  {
              var arr=[];
			  $('table.' + familyId+'.DTFC_Cloned').find('.listcheck:checked').each(function(){
               arr.push($(this).closest('tr').index());
			  });
			  var tab=$('table.'+familyId).not('.DTFC_Cloned');
			  tab.find('tr').not('.cabecera').hide();
			  var rows= tab.find('tr').not('.cabecera');
			  tab.find('tr').each(function(index){
				  arr.forEach(function(e){
                    if(e==index){
						rows.eq(index).show();
					}
				 });
			  });
			  tab.DataTable().order([0, "desc"]).draw();

			  $('table.' + familyId+'.DTFC_Cloned').find('.listcheck:visible').not('.cabecera').prop('checked','checked');

			  $('.'+familyId+'#cantmsj').html(tab.find('tr:visible').not('.cabecera').length + ' toros en la lista')
		  }
	 </script>

     <script>

             var arraypos=[];
             //Pruebas comprimidas

				 $(document).on('click','.pruebacomp',function(){

                var familyId=$(this).attr('familyid');
				var tabla= $('table.' + familyId).not('.DTFC_Cloned').DataTable();

                 if($(this).html()=='Ver prueba comprimida') {
					 $('.'+familyId).find('.pruebacomp').text('Ver prueba completa');


					tabla
							 .columns( '[showinvc="0"]').visible( false);

				//	 tab.DataTable().order([0, "desc"]).draw()
                     return;
                 }
                 if($(this).html()=='Ver prueba completa'){

					 $('.'+familyId).find('.pruebacomp').text('Ver prueba comprimida')

					 tabla
							 .columns( '[showinvc="0"]').visible( true);


                 }
             });

     </script>

	 <script>
		 $('#datostextresp').keyup(function(){
			 if($(this).val().length>1)
			 {
				 buscarTorosLike($(this).val(),'datostextresp','padredatostextresp','800px','padredatostextresp');
			 }
		 });

		 $('#datostext').keyup(function(){
			 if($(this).val().length>1)
			 {
				 buscarTorosLike($(this).val(),'datostext','padredatostext','300px','padredatostext',true);
			 }
		 });


	 </script>

	 <script>
		 $('.sel2').change(function(){
			var name=$(this).val();
			 var clase=$('select[name="principalselector"] :selected').attr('class');
			 if(clase===undefined){
				 window.location=Routing.generate('gema_razalist', {nombre: name});
			 }

		 });

		 $('.sel22').change(function(){
			 var name=$(this).val();
			 var clase=$('select[name="principalselector2"] :selected').attr('class');

			 if(clase===undefined){
				 window.location=Routing.generate('gema_razalist', {nombre: name});
			 }

		 });
		 $('.therrazasselector').change(function(){

			 var raza=$(this).val();
			 var tabla=$('.tabla1').not('.DTFC_Cloned').DataTable();
			 tabla.search(raza).draw();
			 var info = tabla.page.info();
			 var d= info.recordsDisplay;
			 $('#cantmsj').html(d + ' toros en la lista');
			 $($.fn.dataTable.tables(true)).css('width', '100%');
			 $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();

		 });
	 </script>

	 <script>
		 $('.expexcel').click(function(){

		 });

	 </script>


 {% endblock %}