



  {% block content %}





   <div id="pdfcontent" style="background-color: white">
		<div class="row">

			<div id="izq-primero">
				<div style="position: relative; left: 0; top: 0;" id="imgwatercont" class="example">

				<a data-fancybox="gallery" class="fancybox" href="{{absolute_url(asset(princimg)) }}" data-caption="{{ pricimgdesc }}" title="{{ pricimgdesc }}">	<img  id="imagen-principal" width="95%" height="300" src="{{absolute_url(asset(princimg)) }}" class="img-responsive toroimg"/></a>

				{% if pricimgdesc is not null  and pricimgdesc!='' and pricimgdesc is defined %}
          <div class="outercaption"><span class="fagosibold">{{ pricimgdesc }}</span></div>
          {% endif %}
				</div>
				<br>
				<div class="encabezado-area encabezado-izq">
					<i class="fa fa-caret-right fa-3x" style="margin:-9px 0 0 -45px;">&nbsp;&nbsp;</i>
					<strong style="font-size:16px;position:absolute;margin-top:2px;">Pedigree</strong>			
				</div>
				<br>
				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<br><br><br><strong style="float:right;margin-right:40px;">{{ toro.padre }}</strong>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="arbol1"></div>
						<div class="arbol2"></div>
						<address class="pedigree-tree">
							&nbsp;&nbsp;{{ toro.padrepadrepadre }}<br>
							{{ toro.padrepadre }}<br>
							&nbsp;&nbsp;{{ toro.madrepadrepadre }}<br>
						</address>
						<br>
						<div class="arbol2"></div>
							<address class="pedigree-tree">
							&nbsp;&nbsp;{{ toro.padremadrepadre }}<br>
							{{ toro.madrepadre }}<br>
							&nbsp;&nbsp;{{ toro.madremadrepadre }}<br>
						</address>
					</div>			
				</div>
				<br>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<br><br><br><strong style="float:right;margin-right:40px;">{{ toro.madre }}</strong>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="arbol1"></div>
						<div class="arbol2"></div>


						<address class="pedigree-tree">
							&nbsp;&nbsp;{{ toro.padrepadremadre }}<br>
						    {{ toro.padremadre }}<br>
							&nbsp;&nbsp;{{ toro.madrepadremadre }}<br>
						</address>
						<br>
						<div class="arbol2"></div>
						<address class="pedigree-tree">
							&nbsp;&nbsp;{{ toro.padremadremadre }}<br>
							{{ toro.madremadre }}<br>
							&nbsp;&nbsp;{{ toro.madremadremadre }}<br>
						</address>
					</div>
				</div>				

			</div>				

			<div id="der-primero">

				<address>
					<h2><strong>{{ toro.apodo }}</strong></h2>
					{% if toro.nuevo==1 %}
					<span id="nuevocartel">NUEVO</span>
					{% endif %}
					<strong>{{ toro.nombre }}</strong><br>
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sd-3 col-xs-12">
							<strong>HBA:</strong>&nbsp;{{ toro.hba }}
						</div>
						<div class="col-lg-3 col-md-4 col-sd-3 col-xs-12">
							<strong>ADN:</strong>&nbsp;{{ toro.adn }}
						</div>
						<div class="col-lg-3 col-md-4 col-sd-3 col-xs-12">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sd-3 col-xs-12">
							<strong>RP:</strong>&nbsp;{{ toro.rp }}
						</div>
						<div class="col-lg-6 col-md-6 col-sd-3 col-xs-12">
							<strong>Senasa:</strong>&nbsp;{{ toro.senasa }}
						</div>

						<div class="col-lg-12 col-md-12 col-sd-3 col-xs-12" style="margin-top: 36px">
							{{ toro.lineagenetica }}
						</div>
						
					</div>
				</address>
	
				<div class="row">
	
					<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
						{% if imgfp is not null %}
						<img src="{{absolute_url( asset(imgfp)) }}" class="img-responsive" style="height:67px;"/>
						{% endif %}
					</div>
					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
						{% if toro.cp==true %}
						<img src="{{absolute_url(asset(imgcp)) }}" class="img-responsive" style="height:67px;"/>
							{% endif %}
					</div>
					
				</div>
	
				<br>
	
				<address style="color:black;margin-bottom:2px;">
				{% if toro.nombreraza is not null %}
					<strong>Raza:</strong>&nbsp;{{ toro.nombreraza }}<br>
					{% else %}
					<strong>Raza:</strong>&nbsp;{{ toro.raza.nombre }}<br>
					{% endif %}
					<strong>Nacimiento:</strong>&nbsp;{{ toro.fechanacimiento|date('d-m-Y')  }}<br>
					<strong>Criador:</strong>&nbsp;{{ toro.criador }}<br>
					<strong>Propietario:</strong>&nbsp;{{ toro.propietario }}<br>
					{% if toro.pruebapelaje is not null and toro.pruebapelaje is not empty %} 
					 {{tipoTest(toro.raza.id,toro.pruebapelaje)|raw}}
					{% endif %}
				</address>
	
				<div style="display: none"><strong>Precio de lista:</strong>&nbsp;$ {{ toro.precio }}<br></div>
	
			</div>

			<div id="der-segundo">

				<div class="encabezado-area" style="margin-left:25px;">
					<i class="fa fa-caret-right fa-3x" style="margin:-9px 0 0 -45px;">&nbsp;&nbsp;</i>
					<strong style="font-size:16px;position:absolute;margin-top:2px;">Medidas Corporales y Pesos</strong>			
				</div>
	
				<br>
				
				<div class="contenedor-medidas">
					
					<div class="medida medida1"><strong title="Circunferencia Escrotal">{{ toro.circunferenciaescrotal }}</strong></div>

					<div class="medida medida2"><strong title="Alto de la grupa">{{ toro.altogrupa }}</strong></div>
			
					<div class="medida medida3"><br> <strong title="Ancho de grupa ">{{ toro.anchogrupa }}</strong></div>

					<div class="medida medida4"><br> <strong title="Largo de grupa">{{ toro.largogrupa }}</strong></div>
				
					<div class="medida medida5"><strong title="Largo corporal">{{ toro.largocorporal }}</strong></div>

					<img src="{{absolute_url(asset(silueta)) }}" class="img-responsive" style="margin:0 auto"/>
					<b id="infodes" style="margin-left:0px;"><em>Deslice el mouse sobre los números para ver la descripción</em></b>
	
				</div>						

				<br>
	
				<div class="table-responsive tabla-esp">
					<table class="table table-bordered tablaup">
						 <thead>
							<tr>
								<th>EDAD</th>
								<th>PN</th>
								<th>P205D</th>
								<th>P365D</th>
								<th>P550D</th>
								<th>P. ADULTO</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">PESO (KG)</th>
								<td>{{ toro.pn1 }}</td>
								<td>{{ toro.p205d }}</td>
								<td>{{ toro.p365d }}</td>
								<td>{{ toro.p550d }}</td>
								<td>{{ toro.peso }}</td>
							</tr>
						</tbody>
					</table>
				</div>
	
				<br>
	
				<div class="encabezado-area" style="margin-left:25px;">
					<i class="fa fa-caret-right fa-3x" style="margin:-9px 0 0 -45px;">&nbsp;&nbsp;</i>
					<strong style="font-size:16px;position:absolute;margin-top:2px;">Comentarios</strong>
				</div>
	
				<p>
					{{ toro.descripcion }}
				</p>
				
				<br>

			</div>

		</div>

	  {% if tabla!=null  %}
		<div id="ultima-col" class="row">
	
			<div class="encabezado-area encabezado-izq">
					<i class="fa fa-caret-right fa-3x" style="margin:-9px 0 0 -45px;">&nbsp;&nbsp;</i>
					<strong style="font-size:16px;position:absolute;margin-top:2px;">Prueba</strong>
			</div>

			<div class="encabezado-tabla" style="width: 100% !important;">{{ toro.evaluaciongenetica }}</div>
	
			<div id="tabla-infeior" style="width: 100% !important;">
				<div class="table-responsive">
					<table class="table table-bordered" style="font-size: 8px !important;">
						 <thead>
							<tr>
	  <th class=""></th>

	  {% for t in tabla.tabladatos %}
								<th>{{ t.nombre }}</th>
		  {% endfor %}

							</tr>
						</thead>
						<tbody>
						{% for dato in tablagenetica %}
							<tr class="{{ cycle(["alterna", ""], loop.index) }}">
								<th scope="row">{{ dato['rowhead'] }}</th>
								{% for td in tabla.tabladatos %}
								           {% if  isNumber(dato[td.nombre])=='1' %}

									{%   if dato['rowhead']|lower =='ranking' and dato[td.nombre] | replace('%','')<=35 and td.nombre|lower !='gd' and td.nombre|lower !='gc' and td.nombre|lower !='egd' and td.nombre|lower !='egc' and td.nombre|lower !='altura' and td.nombre|lower !='alt.' and td.nombre|lower !='alt' and td.nombre|lower !='alt.hijas'  and td.nombre|lower !='alt.año'  and dato[td.nombre]!='-' %}
									<td class="downprom">{{ dato[td.nombre]|replace({' ':''})|round(2)~'%' }}</td>
                           {% else %}

                           {% if dato['rowhead']|lower =='ranking'%}
						       <td>{{ dato[td.nombre]|replace({' ':''})|round(2)~'%' }}</td>
									{% else %}
									        {% if dato['rowhead']|lower =='prec' and toro.raza.id==25%}
									           <td>{{ dato[td.nombre]|replace({' ':''})|round(2) }}%</td>
									        {% else %}
									    <td>{{ dato[td.nombre]|replace({' ':''})|round(2) }}</td>
									    {% endif %}
									{% endif %}

									{% endif %}
                                 {% else %}
	                           <td class="">{{ dato[td.nombre]|replace({' ':''}) }}</td>
                            {% endif %}
								{% endfor %}
							</tr>
							{% endfor %}

						</tbody>
					</table>

				</div>

			</div>
		<div id="comentarioresposive" style="display: none">

                       </div>
		</div>
	  {% endif %}
	</div>
{% endblock %}
