    {% extends 'gemaBundle::layout.html.twig' %}

    {% block gema_page -%}
    <h2>Vendedor</h2>

    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>                                                                <th>Zona</th>
                                                                    <th>Nombre</th>
                                                                    <th>Ciudad</th>
                                                                    <th>Telefono</th>
                                                                    <th>Email</th>
                                                                    <th>Publico</th>
                                                                    <th>Guid</th>
                                                                    <th>Posicion</th>
                        
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>                                        
                        <td>{{ entity.zona }}</td>
                                        
                        <td>{{ entity.nombre }}</td>
                                        
                        <td>{{ entity.ciudad }}</td>
                                        
                        <td>{{ entity.telefono }}</td>
                                        
                        <td>{{ entity.email }}</td>
                                        
                        <td>{{ entity.publico }}</td>
                                        
                        <td>{{ entity.guid }}</td>
                                        
                        <td>{{ entity.posicion }}</td>
                    
    <td><a href="{{ path('admin_vendedor_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ path('admin_vendedor_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ path('admin_vendedor_delete', { 'id': entity.id }) }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>


    <ul class="pager">
        <li class="next"><a href="{{path('admin_vendedor')}}"><i class="fa fa-list"></i>
                Listado de Vendedor
            </a>
        </li>
    </ul>


    {% endblock %}
